@using SECOM_AJIS.Common.Helpers
@using SECOM_AJIS.Common.Util.ConstantValue
<div id="SearchBar">
    @Resources.CMS020_Home.lblSBContractCode
    @Html.CommonTextBox("ContractCode")
    @Resources.CMS020_Home.lblSBUserCode
    @Html.CommonTextBox("UserCode")
    @Resources.CMS020_Home.lblSBInvoiceNo
    @Html.CommonTextBox("UserCode")
    @Resources.CMS020_Home.lblSBProjectCode
</div>
