@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@{
    Layout = "";
    ViewBag.LabelCol1Width = "220px";
    ViewBag.LabelCol3Width = "160px";

    ViewBag.ObjectCol1Width = "140px";
    ViewBag.ObjectCol1ComboWidth = "144px";
    ViewBag.ObjectCol2Width = "200px";
    ViewBag.ObjectCol12Width = "370px";
    ViewBag.ObjectCol12_SWidth = "369px";
    ViewBag.ObjectCol3Width = "185px";
    ViewBag.ObjectCol3ComboWidth = "189px";
    ViewBag.ObjectCol4Width = "80px";
    ViewBag.ObjectColMergeWidth = "720px";
}
<script type="text/javascript">
    C_CURRENCY_LOCAL =  '@SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL'
</script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Quotation/QUS030/QUS030_03.js")"></script>
<div style="display:none;">
    @Html.Hidden("DefaultMaintenanceCycle", (string)@ViewBag.DefaultMACycle)
    @Html.Hidden("DisabledProductCode", (bool)@ViewBag.DisabledProductCode)
    @Html.Hidden("DisabledSecurityTypeCode", (bool)@ViewBag.DisabledSecurityTypeCode)
    @Html.Hidden("DisabledDispatchTypeCode", (bool)@ViewBag.DisabledDispatchTypeCode)
    @Html.Hidden("DisabledOperationType", (bool)@ViewBag.DisabledOperationType)
    @Html.Hidden("DisabledPhoneLineTypeCode1", (bool)@ViewBag.DisabledPhoneLineTypeCode1)
    @Html.Hidden("DisabledPhoneLineTypeCode2", (bool)@ViewBag.DisabledPhoneLineTypeCode2)
    @Html.Hidden("DisabledPhoneLineTypeCode3", (bool)@ViewBag.DisabledPhoneLineTypeCode3)
    @Html.Hidden("DisabledPhoneLineOwnerTypeCode1", (bool)@ViewBag.DisabledPhoneLineOwnerTypeCode1)
    @Html.Hidden("DisabledPhoneLineOwnerTypeCode2", (bool)@ViewBag.DisabledPhoneLineOwnerTypeCode2)
    @Html.Hidden("DisabledPhoneLineOwnerTypeCode3", (bool)@ViewBag.DisabledPhoneLineOwnerTypeCode3)
    @Html.Hidden("DisabledServiceType", (bool)@ViewBag.DisabledServiceType)
    @Html.Hidden("DisabledSpecialInstallationFlag", (bool)@ViewBag.DisabledSpecialInstallationFlag)
    @Html.Hidden("DisabledSiteBuildingArea", (bool)@ViewBag.DisabledSiteBuildingArea)
    @Html.Hidden("DisabledSecurityAreaFrom", (bool)@ViewBag.DisabledSecurityAreaFrom)
    @Html.Hidden("DisabledSecurityAreaTo", (bool)@ViewBag.DisabledSecurityAreaTo)
    @Html.Hidden("DisabledMainStructureTypeCode", (bool)@ViewBag.DisabledMainStructureTypeCode)
    @Html.Hidden("DisabledBuildingTypeCode", (bool)@ViewBag.DisabledBuildingTypeCode)
    @Html.Hidden("DisabledNewBldMgmtFlag", (bool)@ViewBag.DisabledNewBldMgmtFlag)
    @Html.Hidden("DisabledNewBldMgmtCost", (bool)@ViewBag.DisabledNewBldMgmtCost)
    @Html.Hidden("DisabledNewBldMgmtCostCurrencyType", (bool)@ViewBag.DisabledNewBldMgmtCostCurrencyType)
    @Html.Hidden("DisabledNumOfBuilding", (bool)@ViewBag.DisabledNumOfBuilding)
    @Html.Hidden("DisabledNumOfFloor", (bool)@ViewBag.DisabledNumOfFloor)
    @Html.Hidden("DisabledMaintenanceCycle", (bool)@ViewBag.DisabledMaintenanceCycle)
    @Html.Hidden("DisabledInsuranceTypeCode", (bool)@ViewBag.DisabledInsuranceTypeCode)
    @Html.Hidden("DisabledInsuranceCoverageAmount", (bool)@ViewBag.DisabledInsuranceCoverageAmount)
    @Html.Hidden("DisabledMonthlyInsuranceFee", (bool)@ViewBag.DisabledMonthlyInsuranceFee)
    @Html.Hidden("DisabledMaintenanceFee1CurrencyType", (bool)@ViewBag.DisabledMaintenanceFee1CurrencyType)
    @Html.Hidden("DisabledInsuranceCoverageAmountCurrencyType", (bool)@ViewBag.DisabledInsuranceCoverageAmountCurrencyType)
    @Html.Hidden("DisabledMonthlyInsuranceFeeCurrencyType", (bool)@ViewBag.DisabledMonthlyInsuranceFeeCurrencyType)
    @Html.Hidden("DisabledMaintenanceFee1", (bool)@ViewBag.DisabledMaintenanceFee1)
    @Html.Hidden("DisabledAdditionalFee1", (bool)@ViewBag.DisabledAdditionalFee1)
    @Html.Hidden("DisabledAdditionalFee2", (bool)@ViewBag.DisabledAdditionalFee2)
    @Html.Hidden("DisabledAdditionalFee3", (bool)@ViewBag.DisabledAdditionalFee3)
    @Html.Hidden("DisabledAdditionalFee1CurrencyType", (bool)@ViewBag.DisabledAdditionalFee1CurrencyType)
    @Html.Hidden("DisabledAdditionalFee2CurrencyType", (bool)@ViewBag.DisabledAdditionalFee2CurrencyType)
    @Html.Hidden("DisabledAdditionalFee3CurrencyType", (bool)@ViewBag.DisabledAdditionalFee3CurrencyType)
    @Html.Hidden("DisabledAdditionalApproveNo1", (bool)@ViewBag.DisabledAdditionalApproveNo1)
    @Html.Hidden("DisabledAdditionalApproveNo2", (bool)@ViewBag.DisabledAdditionalApproveNo2)
    @Html.Hidden("DisabledAdditionalApproveNo3", (bool)@ViewBag.DisabledAdditionalApproveNo3)
    @Html.Hidden("DisabledApproveNo1", (bool)@ViewBag.DisabledApproveNo1)
    @Html.Hidden("DisabledApproveNo2", (bool)@ViewBag.DisabledApproveNo2)
    @Html.Hidden("DisabledApproveNo3", (bool)@ViewBag.DisabledApproveNo3)
    @Html.Hidden("DisabledApproveNo4", (bool)@ViewBag.DisabledApproveNo4)
    @Html.Hidden("DisabledApproveNo5", (bool)@ViewBag.DisabledApproveNo5)
</div>
<form id="formQuotationDetailInfo_AL">
    <div id="divQuotationDetailInfo_AL" class="main-table">
        <div class="table-header">
            @Resources.QUS030.lblQuotationDetailInformation_AL
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblProductCode
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                @Html.ProductComboBox("ProductCode", (string)@ViewBag.EmployeeNo, (string)@ViewBag.ProductCodeCondition, (string)@ViewBag.ProductTypeCode, new { selected = @ViewBag.ProductCode, style = "width:353px;" })
                @Html.RequireFiled()
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblSecurityTypeCode 
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.CommonTextBox("SecurityTypeCode", (string)@ViewBag.SecurityTypeCode, new { maxlength = "13", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
            @if (ViewBag.ShowDispathType == true)
            {
                <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                    @Resources.QUS030.lblDispatchType
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                    @Html.DispatchTypeComboBox("DispatchTypeCode", new { selected = @ViewBag.DispatchTypeCode, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                    @Html.RequireFiled()
                </div>
            }
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;margin-top:12px;">
                @Resources.QUS030.lblOperationType
            </div>
            <div class="usr-object">
                @Html.OperationTypeCheckList("OperationType", (string[])@ViewBag.OperationType, new { width = "142px", height = "40px" })
            </div>
        </div>
        <div class="usr-row usr-row-space">
            <div class="fieldset-table">
                <div class="fieldset-header">
                    <span>@Resources.QUS030.lblTelephoneLineInformation</span>
                </div>
                <div class="usr-row">
                    <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                        @Resources.QUS030.lblNormalSignal 
                    </div>
                    <div class="usr-object" style="width:@ViewBag.ObjectCol12_SWidth;">
                        <div style="float:left;margin:0px 3px 0 0;padding-top:2px;">
                            @Resources.QUS030.lblLineType 
                        </div>
                        <div style="float:left;">
                           @Html.PhoneLineTypeComboBox("PhoneLineTypeCode1", new { selected = @ViewBag.PhoneLineTypeCode1, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                        </div>
                    </div>
                    <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                        @Resources.QUS030.lblTelephoneOwner
                    </div>
                    <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                        @Html.PhoneLineOwnerTypeComboBox("PhoneLineOwnerTypeCode1", new { selected= @ViewBag.PhoneLineOwnerTypeCode1, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                    </div>
                </div>
                <div class="usr-row">
                    <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                        @Resources.QUS030.lblImageMonitoring
                    </div>
                    <div class="usr-object" style="width:@ViewBag.ObjectCol12_SWidth;">
                        <div style="float:left;margin:0px 3px 0 0;padding-top:2px;">
                            @Resources.QUS030.lblLineType 
                        </div>
                        <div style="float:left;">
                            @Html.PhoneLineTypeComboBox("PhoneLineTypeCode2", new { selected = @ViewBag.PhoneLineTypeCode2, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                        </div>
                    </div>
                    <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                        @Resources.QUS030.lblTelephoneOwner
                    </div>
                    <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                        @Html.PhoneLineOwnerTypeComboBox("PhoneLineOwnerTypeCode2", new { selected = @ViewBag.PhoneLineOwnerTypeCode2, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                    </div>
                </div>
                <div class="usr-row">
                    <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                        @Resources.QUS030.lblDisconnectionMonitoring
                    </div>
                    <div class="usr-object" style="width:@ViewBag.ObjectCol12_SWidth;">
                        <div style="float:left;margin:0px 3px 0 0;padding-top:2px;">
                            @Resources.QUS030.lblLineType 
                        </div>
                        <div style="float:left;">
                            @Html.PhoneLineTypeComboBox("PhoneLineTypeCode3", new { selected = @ViewBag.PhoneLineTypeCode3, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                        </div>
                    </div>
                    <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                        @Resources.QUS030.lblTelephoneOwner
                    </div>
                    <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                        @Html.PhoneLineOwnerTypeComboBox("PhoneLineOwnerTypeCode3", new { selected = @ViewBag.PhoneLineOwnerTypeCode3, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                    </div>
                </div>
                <div class="usr-clear-style">&nbsp;</div>
            </div>
        </div>
        <div class="usr-row" style="margin-top:10px;">
            @Html.ServiceTypeCheckButtonList("ServiceType", (string)@Resources.QUS030.lblProvidedServiceType, true, (string[])@ViewBag.ProvideServiceType, null, true)
        </div>
        <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblPlanCode
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.CommonTextBox("PlanCode", (string)@ViewBag.PlanCode, new { maxlength = "20", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                @Html.RequireFiled()
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                @Resources.QUS030.lblSpecialInstallation
            </div>
            <div id="rdoSpecialInstallationFlag" class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.CommonRadioButton("SpecialInstallationFlagYes", @Resources.QUS030.rdoSpecialInstall_Yes, "true", (bool)@ViewBag.SpecialInstallationFlagYes, "SpecialInstallationFlag")
                @Html.CommonRadioButton("SpecialInstallationFlagNo", @Resources.QUS030.rdoSpecialInstall_No, "false", (bool)@ViewBag.SpecialInstallationFlagNo, "SpecialInstallationFlag")
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblQuotationNo
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.CommonTextBox("QuotationNo", (string)@ViewBag.QuotationNo, new { style = "width:" + @ViewBag.ObjectCol1Width + ";", maxlength = 30 })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblPlanner
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("PlannerEmpNo", (string)@ViewBag.PlannerEmpNo, new { maxlength = "10", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("PlannerName", (string)@ViewBag.PlannerName, new { style = "width:" + @ViewBag.ObjectCol2Width + ";", @readonly = true })
                    @Html.RequireFiled()
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblPlanChecker
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("PlanCheckerEmpNo", (string)@ViewBag.PlanCheckerEmpNo, new { maxlength = "10", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("PlanCheckerName", (string)@ViewBag.PlanCheckerName, new { style = "width:" + @ViewBag.ObjectCol2Width + ";", @readonly = true })
                    @Html.RequireFiled()
                </div>
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
            @Resources.QUS030.lblPlanCheckingDate
            </div>
            <div class="usr-object" style="width:195px;">
                <div class="object-unit">
                    @Html.CommonTextBox("PlanCheckDate", (string)@ViewBag.PlanCheckDate, new { style = "width:90px;" })
                </div>
                <div style="float:left;">
                    <span style="font-size:7pt;margin-right:2px;">
                        @Html.LabelDateFormat("PlanCheckDate")
                    </span>
                    @Html.RequireFiled()
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblPlanApprover
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("PlanApproverEmpNo", (string)@ViewBag.PlanApproverEmpNo, new { maxlength = "10", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("PlanApproverName", (string)@ViewBag.PlanApproverName, new { style = "width:" + @ViewBag.ObjectCol2Width + ";", @readonly = true })
                    @Html.RequireFiled()
                </div>
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                @Resources.QUS030.lblPlanApprovingDate
            </div>
            <div class="usr-object" style="width:198px;">
                <div class="object-unit">
                    @Html.CommonTextBox("PlanApproveDate", (string)@ViewBag.PlanApproveDate, new { style = "width:90px;" })
                </div>
                <div style="float:left;">
                    <span style="font-size:7pt;margin-right:2px;">
                        @Html.LabelDateFormat("PlanApproveDate")
                    </span>
                    @Html.RequireFiled()
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblSiteBuildingArea
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.NumericTextBox("SiteBuildingArea", (string)@ViewBag.SiteBuildingArea, new { @class = "numeric-box", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                @Html.RequireFiled()
            </div>
            <div class="usr-label" style="width:205px;margin-left:-45px;">
                @Resources.QUS030.lblSecurityAreaSize
            </div>
            <div class="usr-object" style="width:195px;">
                <div style="float:left">
                    @Html.NumericTextBox("SecurityAreaFrom", (string)@ViewBag.SecurityAreaFrom, new { style = "width:70px;" })
                    @Html.RequireFiled()
                </div>
                <div id="divSecurityAreaFromTo" class="label-unit">-&nbsp;</div>
                <div style="float:left">
                    @Html.NumericTextBox("SecurityAreaTo", (string)@ViewBag.SecurityAreaTo, new { style = "width:70px;" })
                    @Html.RequireFiled()
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblMainStructureType 
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.MainStructureTypeComboBox("MainStructureTypeCode", null, new { selected = @ViewBag.MainStructureTypeCode, style = "width:353px;" })
                @Html.RequireFiled()
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                @Resources.QUS030.lblNewOldBuilding
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.BuildingTypeComboBox("BuildingTypeCode", null, new { selected = @ViewBag.BuildingTypeCode, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
                @Html.RequireFiled()
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblNewBuildingMgmtType 
            </div>
            <div id="rdoNewBldMgmtFlag" class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.CommonRadioButton("NewBldMgmtFlagNeed", @Resources.QUS030.rdoNewBuildingMgmtTypeFlagNeed, "true", (bool?)@ViewBag.NewBldMgmtFlagNeed, "NewBldMgmtFlag")
                @Html.CommonRadioButton("NewBldMgmtFlagNoNeed", @Resources.QUS030.rdoNewBuildingMgmtTypeFlagNoNeed, "false", (bool?)@ViewBag.NewBldMgmtFlagNoNeed, "NewBldMgmtFlag")
            </div>
            <div class="usr-label" style="width:205px;margin-left:-45px;">
                @Resources.QUS030.lblNewBuildingMgmtCost
            </div>
            <div class="usr-object" style="width:200px;">
                @Html.NumericTextBoxWithMultipleCurrency("NewBldMgmtCost", (string)@ViewBag.NewBldMgmtCost, (string)@ViewBag.NewBldMgmtCostCurrencyType, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblNumberOfBuildings
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.NumericTextBox("NumOfBuilding", (string)@ViewBag.NumOfBuilding, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                @Html.RequireFiled()
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                @Resources.QUS030.lblNumberOfFloors
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.NumericTextBox("NumOfFloor", (string)@ViewBag.NumOfFloor, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                @Html.RequireFiled()
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblMaintenaceCycle
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.CommonCheckButton("chkMaintenanceCycle", "", null, (bool?)@ViewBag.chkMaintenanceCycle)
                @Html.MaintenanceCycleComboBox("MaintenanceCycle", new { selected = @ViewBag.MaintenanceCycle, style = "width:120px;" })
                @Html.RequireFiled()
            </div>
        </div>
        @* Begin:: 2015/11/11 Added: tbt_QuotationInstallationDetail *@
        <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblCeilingType
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                @Html.CommonCheckButton("chkCeilingTypeTBar", @Resources.QUS030.lblCeilingTypeTBar, null, (bool?)@ViewBag.chkCeilingTypeTBar)
                @Html.CommonCheckButton("chkCeilingTypeSlabConcrete", @Resources.QUS030.lblCeilingTypeSlabConcrete, null, (bool?)@ViewBag.chkCeilingTypeSlabConcrete, new { style = "margin-left: 25px" })
                @Html.CommonCheckButton("chkCeilingTypeMBar", @Resources.QUS030.lblCeilingTypeMBar, null, (bool?)@ViewBag.chkCeilingTypeMBar, new { style = "margin-left: 25px" })
                @Html.CommonCheckButton("chkCeilingTypeSteel", @Resources.QUS030.lblCeilingTypeSteel, null, (bool?)@ViewBag.chkCeilingTypeSteel, new { style = "margin-left: 25px" })
                @Html.CommonCheckButton("chkCeilingTypeNone", @Resources.QUS030.lblCeilingTypeNone, null, (bool?)@ViewBag.chkCeilingTypeNone, new { style = "margin-left: 25px" }) @Html.RequireFiled()  
            </div>
        </div>
        <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblCeilingHeight
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                @Html.NumericTextBox("txtCeilingHeight", (decimal?)@ViewBag.txtCeilingHeight, new { name = "CeilingHeight" }) @Resources.QUS030.lblCeilingHeightUnit
            </div>
        </div>
        <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblSpecialIns
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                @Html.CommonCheckButton("chkSpecialInsPVC", @Resources.QUS030.lblSpecialInsPVC, null, (bool?)@ViewBag.chkSpecialInsPVC)
                @Html.CommonCheckButton("chkSpecialInsSLN", @Resources.QUS030.lblSpecialInsSLN, null, (bool?)@ViewBag.chkSpecialInsSLN, new { style = "margin-left: 25px" })
                @Html.CommonCheckButton("chkSpecialInsProtector", @Resources.QUS030.lblSpecialInsProtector, null, (bool?)@ViewBag.chkSpecialInsProtector, new { style = "margin-left: 25px" })
                @Html.CommonCheckButton("chkSpecialInsEMT", @Resources.QUS030.lblSpecialInsEMT, null, (bool?)@ViewBag.chkSpecialInsEMT, new { style = "margin-left: 25px" })
                @Html.CommonCheckButton("chkSpecialInsPE", @Resources.QUS030.lblSpecialInsPE, null, (bool?)@ViewBag.chkSpecialInsPE, new { style = "margin-left: 25px" })
                @Html.CommonCheckButton("chkSpecialInsOther", @Resources.QUS030.lblSpecialInsOther, null, (bool?)@ViewBag.chkSpecialInsOther, new { style = "margin-left: 25px" }) @Html.RequireFiled()
            </div>
        </div>
        <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                @Html.CommonTextBox("txtSpecialInsOther", (string)@ViewBag.txtSpecialInsOther, new { style = "width: 500px", maxlength = 250, @readonly = true, name = "SpecialInsOtherText" })
            </div>
        </div>
        @* End:: 2015/11/11 Added: tbt_QuotationInstallationDetail *@
        <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblSaleman1
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("SalesmanEmpNo1", (string)@ViewBag.SalesmanEmpNo1, new { maxlength = "10", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("Saleman1Name", (string)@ViewBag.Saleman1Name, new { style = "width:" + @ViewBag.ObjectCol2Width + ";", @readonly = true })
                    @Html.RequireFiled()
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblSaleman2
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("SalesmanEmpNo2", (string)@ViewBag.SalesmanEmpNo2, new { maxlength = "10", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("Saleman2Name", (string)@ViewBag.Saleman2Name, new { style = "width:" + @ViewBag.ObjectCol2Width + ";", @readonly = true })
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblSalesSupporter
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("SalesSupporterEmpNo", (string)@ViewBag.SalesSupporterEmpNo, new { maxlength = "10", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("SalesSupporterName", (string)@ViewBag.SalesSupporterEmpName, new { style = "width:" + @ViewBag.ObjectCol2Width + ";", @readonly = true })
                </div>
            </div>
        </div>
        <div class="usr-row  usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblInsuranceType
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.InsuranceTypeComboBox("InsuranceTypeCode", new { selected = @ViewBag.InsuranceTypeCode, style = "width:" + @ViewBag.ObjectCol1ComboWidth + ";" })
            </div>
            <div class="usr-label" style="width:205px;margin-left:-45px;">
                @Resources.QUS030.lblInsuranceCoverageAmount
            </div>
            <div class="usr-object" style="width:200px;">
                @Html.NumericTextBoxWithMultipleCurrency("InsuranceCoverageAmount", (string)@ViewBag.InsuranceCoverageAmount, (string)@ViewBag.InsuranceCoverageAmountCurrencyType, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblMonthlyInsuranceFee
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.NumericTextBoxWithMultipleCurrency("MonthlyInsuranceFee", (string)@ViewBag.MonthlyInsuranceFee, (string)@ViewBag.MonthlyInsuranceFeeCurrencyType, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                @Resources.QUS030.lblOutsourcingFee
            </div>
            <div class="usr-object" style="width:200px;">
                @Html.NumericTextBoxWithMultipleCurrency("MaintenanceFee1", (string)@ViewBag.MaintenanceFee1, (string)@ViewBag.MaintenanceFee1CurrencyType, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblAdditionalContractFee1
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.NumericTextBoxWithMultipleCurrency("AdditionalFee1", (string)@ViewBag.AdditionalFee1, (string)@ViewBag.AdditionalFee1CurrencyType, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
            <div class="usr-label" style="width:205px;margin-left:-45px;">
                @Resources.QUS030.lblAdditionalApproveNo1
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.CommonTextBox("AdditionalApproveNo1", (string)@ViewBag.AdditionalApproveNo1, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblAdditionalContractFee2
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.NumericTextBoxWithMultipleCurrency("AdditionalFee2", (string)@ViewBag.AdditionalFee2, (string)@ViewBag.AdditionalFee2CurrencyType, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
            <div class="usr-label" style="width:205px;margin-left:-45px;">
                @Resources.QUS030.lblAdditionalApproveNo2
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.CommonTextBox("AdditionalApproveNo2", (string)@ViewBag.AdditionalApproveNo2, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblAdditionalContractFee3
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.NumericTextBoxWithMultipleCurrency("AdditionalFee3", (string)@ViewBag.AdditionalFee3, (string)@ViewBag.AdditionalFee3CurrencyType, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
            <div class="usr-label" style="width:205px;margin-left:-45px;">
                @Resources.QUS030.lblAdditionalApproveNo3
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.CommonTextBox("AdditionalApproveNo3", (string)@ViewBag.AdditionalApproveNo3, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblApproveNo1
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.CommonTextBox("ApproveNo1", (string)@ViewBag.ApproveNo1, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                @Resources.QUS030.lblApproveNo2
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.CommonTextBox("ApproveNo2", (string)@ViewBag.ApproveNo2, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblApproveNo3
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol12Width;">
                @Html.CommonTextBox("ApproveNo3", (string)@ViewBag.ApproveNo3, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">
                @Resources.QUS030.lblApproveNo4
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol3Width;">
                @Html.CommonTextBox("ApproveNo4", (string)@ViewBag.ApproveNo4, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.QUS030.lblApproveNo5
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                @Html.CommonTextBox("ApproveNo5", (string)@ViewBag.ApproveNo5, new { maxlength = "15", style = "width:" + @ViewBag.ObjectCol1Width + ";" })
            </div>
        </div>
        <div class="usr-clear-style">&nbsp;</div>
    </div>
</form>