@using SECOM_AJIS.Common.Helpers
@using SECOM_AJIS.Presentation.Contract.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;

@{
    Layout = "";
    ViewBag.Title = "CTS220";
    ViewBag.LabelWidth = "250px";
    ViewBag.RightLabelWidth = "240px";
    ViewBag.ObjectWidth = "120px";
    ViewBag.ObjectWidthUnit = "180px";
    ViewBag.RightObjectWidth = "180px";
    ViewBag.isViewMode = true;
    ViewBag.ContractTargetCustomerImportant = false;
    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS220/CTS220_09.js")"></script>

<div id="divInstallationSection" class="main-table">
    <div class="usr-row">
        <div class="table-header" style="width: 400px;">
            @Resources.CTS220.lblInstallationInformation
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.CTS220.lblInstallationType
        </div>
        <div class="usr-object" style="width: 220px">
            @Html.RentalInstallationTypeComboBox("InstallationTypeCode", new { style = "width:195px;" })
        </div>
        <div class="usr-label" style="width: 206px">
            @Resources.CTS220.lblCompleteInstallationDate
        </div>
        <div class="usr-object" style="width: 127px">
            @Html.CommonTextBox("InstallationCompleteDate", null, new { style = "width:100px;" })
        </div>
        <div class="usr-label">
            @Html.LabelDateFormat("InstallationCompleteDate")
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.CTS220.lblNormalInstallationFee
        </div>
        <div class="usr-object" style="width:220px;">
            @Html.NumericTextBoxWithMultipleCurrency("NormalInstallFee", null, null, new { style = "width:140px;" })
        </div>
        <div class="usr-label" style="width: 206px">
            @Resources.CTS220.lblOrderInstallationFee
        </div>
        <div class="usr-object" style="width:220px;">
            @Html.NumericTextBoxWithMultipleCurrency("OrderInstallFee", null, null, new { style = "width:140px;" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.CTS220.lblOrderInstallationApproveFee
            <br />
            @Resources.CTS220.lblApproveContract
        </div>
        <div class="usr-object" style="width: 220px;">
            @Html.NumericTextBoxWithMultipleCurrency("OrderInstallFee_ApproveContract", null, null, new { style = "width:140px;" })
        </div>
        <div class="usr-label" style="width: 206px">
            @Resources.CTS220.lblOrderInstallationCompleteFee<br />
            @Resources.CTS220.lblCompleteInstall
        </div>
        <div class="usr-object" style="width:220px;">
            @Html.NumericTextBoxWithMultipleCurrency("OrderInstallFee_CompleteInstall", null, null, new { style = "width:140px;" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.CTS220.lblOrderInstallationStartFee<br />
            @Resources.CTS220.lblStartService
        </div>
        <div class="usr-object" style="width:220px;">
            @Html.NumericTextBoxWithMultipleCurrency("OrderInstallFee_StartService", null, null, new { style = "width:140px;" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.CTS220.lblSecomPayment
        </div>
        <div class="usr-object" style="width:220px;">
            @Html.NumericTextBoxWithMultipleCurrency("InstallFeePaidBySECOM", null, null, new { style = "width:140px;" })
        </div>
        <div class="usr-label" style="width:206px;">
            @Resources.CTS220.lblSecomRevenue
        </div>
        <div class="usr-object" style="width:220px;">
            @Html.NumericTextBoxWithMultipleCurrency("InstallFeeRevenueBySECOM", null, null, new { style = "width:140px;" })
        </div>
    </div>
    <div id="divInstallationSlipNo" class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.CTS220.lblInstallationSlipNo
        </div>
        <div class="usr-object" style="width: 170px">
            @Html.CommonLink("InstallationSlipNo", "", null)
        </div>
    </div>
    <div class="usr-row" style="height: 20px;">
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width: 252px;">
            &nbsp;</div>
        <div class="usr-object" style="width: 300px; font-weight: bold">
            @Resources.CTS220.lblInstallationSubcontractor
        </div>
    </div>
    <div>
        <div class="usr-row" id="gridInstallation" style="width: 630px; margin-left: 255px;">
        </div>
        <div class="usr-row">
        </div>
        <div id="divSubContractorName" class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources.CTS220.lblSubContractorName
            </div>
            <div class="usr-object" style="width: 300px">
                @Html.SubContractorComboBox("SubcontractCode", new { style = "width:300px;" })
            </div>
            <div class="usr-label" style="width: 1px;">
                &nbsp;</div>
            <div class="usr-object" style="width: 105px">
                @Html.CommonButton("btnAdd", @Resources.CTS220.lblAdd, new { style = "width:100px;" })
            </div>
        </div>
        <div class="usr-row">
            &nbsp;</div>
    </div>
</div>
