@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Helpers;

<div id="divCustomerAR" class="main-table" style="margin-top:5px;">
    <div class="table-header">@Resources.CTS370.lblCustomerCodeAR</div>
    <div class="usr-row">
        <div class="usr-label" style="width:150px;">@Resources.CTS370.lblARType</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.ARTypeComboBoxCTS370("cbbCARType", new { style = "width:300px;" })
        </div>
        @*<div class="usr-label" style="width:140px;">@Resources.CTS370.lblDueDate</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.ARDueDate_DeadLineComboBoxCTS370("cbbCARDueDate", new { style = "width:120px;" })
        </div>*@
        <div class="usr-label" style="width:100px;">@Resources.CTS370.lblStatus</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.ARSearchStatusComboBoxCTS370("cbbCARStatus", new { style = "width:120px;" })
        </div>
    </div>
    <div class="usr-row">&nbsp;</div>
    <div class="usr-row">
        <div class="usr-label" style="text-align: left;">@Resources.CTS370.lblAROfCustomer <span id="spCARCode">XXX</span> : <span id="spCARName">YYY</span></div>
        <div style="text-align:right;">
            @Html.CommonButton("btnCARRetrieve", @Resources.CTS370.btnRetrieve, new { style = "vertical-align: middle; width: 100px;" })
        </div>
    </div>
    <div class="usr-row">
        <div id="gridCARMain"></div>
    </div>
    <div class="usr-row">&nbsp;</div>
    <div class="usr-row">
        @Resources.CTS370.lblARCustomerList
    </div>
    <div class="usr-row">
        <div id="gridCARSub" style="width: 755px;"></div>
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>