@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Helpers;

<div id="divContractAR" class="main-table" style="margin-top:5px;">
    <div class="table-header">@Resources.CTS370.lblContractCodeAR</div>
    <div class="usr-row">
        <div class="usr-label" style="width:150px;">@Resources.CTS370.lblARType</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.ARTypeComboBoxCTS370("cbbCTARType", new { style = "width:300px;" })
        </div>
        @*<div class="usr-label" style="width:140px;">@Resources.CTS370.lblDueDate</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.ARDueDate_DeadLineComboBoxCTS370("cbbCTARDueDate", new { style = "width:120px;" })
        </div>*@
        <div class="usr-label" style="width:100px;">@Resources.CTS370.lblStatus</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.ARSearchStatusComboBoxCTS370("cbbCTARStatus", new { style = "width:120px;" })
        </div>
    </div>
    <div class="usr-row">&nbsp;</div>
    <div class="usr-row">
        <div style="text-align:right;">
            @Html.CommonButton("btnCTARRetrieve", @Resources.CTS370.btnRetrieve, new { style = "vertical-align: middle; width: 100px;" })
            @Html.CommonButton("btnCTARCustomerAR", @Resources.CTS370.btnCustomerAR, new { style = "vertical-align: middle; width: 200px;" })
            @Html.CommonButton("btnCTARSiteAR", @Resources.CTS370.btnSiteAR, new { style = "vertical-align: middle; width: 200px;" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="text-align: left; width: 560px;">@Resources.CTS370.lblAROfContract <span id="spCTARCode">XXX</span> : <span id="spCTARName">YYY</span></div>
    </div>
    <div class="usr-row">
        <div id="gridCTARMain"></div>
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>