@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@{
    ViewBag.LabelCol1Width = "220px";
    ViewBag.LabelCol2Width = "200px";
    ViewBag.LabelCol3Width = "110px";
    ViewBag.ObjectCol1Width = "190px";
    ViewBag.ObjectCol2Width = "220px";
    ViewBag.ObjectCol3Width = "110px";
    ViewBag.ObjectColMergeWidth = "720px";

    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
}

<div id="divContractInfo" class="main-table" style="margin-top:5px; display:none;">
    <div class="table-header">@Resources.CTS330.lblContractInformation</div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS330.lblContractCode</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ContractCode", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">@Resources.CTS330.lblStartDealDate</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("StartDealDate", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS330.lblMonthlyContractFee</div>
        <div class="usr-object" style="margin-left:0px; width:200px;">
            @Html.NumericTextBoxWithMultipleCurrency("MonthlyContractFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { @readonly = true, style = "width:140px;" })
        </div>
        <div class="usr-label" style="width:190px;">@Resources.CTS330.lblContractDurationFrom</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ContractDurationFrom", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
        <div class="usr-label" style="margin-left:5px;">@Resources.CTS330.lblContractDurationTo</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ContractDurationTo", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS330.lblFirstOperationDate</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("FirstOperationDate", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">@Resources.CTS330.lblContractDuration</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ContractDuration", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS330.lblLastChangeType</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("LastChangeType", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">@Resources.CTS330.lblAutoRenew</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("AutoRenew", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS330.lblLastOperationDate</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("LastOperationDate", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">@Resources.CTS330.lblOldContractCode</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("OldContractCode2", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS330.lblSecurityTypeCode</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("SecurityTypeCode", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">@Resources.CTS330.lblOperationOffice</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("OperationOffice1", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol3Width;">@Resources.CTS330.lblProductName</div>
        <div class="usr-object" style="margin-left:0px; width: @ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ProductName1", null, new { style = "width: " + @ViewBag.ObjectCol1Width + ";", @readonly = true })
        </div>
    </div>

    <div class="usr-clear-style">&nbsp;</div>
</div>