@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers

@{
    ViewBag.LabelWidth = "220px";
    ViewBag.RightLabelWidth = "220px";
    ViewBag.ObjectWidth = "160px";
    ViewBag.RightObjectWidth = "180px";
    ViewBag.isViewMode = true;
    ViewBag.ContractTargetCustomerImportant = false;
    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
    ViewBag.ObjectColMergeWidth = "720px";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS130/CTS130_07.js")"></script>
<div id="divContactPointSection" class="main-table" style="height:auto">
    <div class="usr-row">
        <div class="table-header" style="width: 400px;">
            @Resources.CTS130.lblContactPoint
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">&nbsp;</div>
        <div class="usr-object">@Resources.CTS130.lblContactPointMessageUpper</div>     
    </div>   
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">&nbsp;</div>
        <div class="usr-object">@Resources.CTS130.lblContactPointMessageBottom</div>     
    </div>   
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">&nbsp;</div>
        <div class="usr-object" style="width:500px;">@Html.TextArea("ContactPointDetail", new { style = "width:500px;height:100px", maxlength = "500" })</div>
        @Html.Hidden("ContactPointDetailValue", (string)@ViewBag.ContactPointDetail)
    </div>
    <div class="usr-row"></div>
</div>