@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Presentation.Income.Models;

@using SECOM_AJIS.Presentation.Income.Controllers;
@using SECOM_AJIS.Presentation.Income.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;

@{  
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
    ViewBag.isViewModeFlag = true;
    
    ViewBag.Col1Width = "210px";
    ViewBag.Col2Width = "700px";
    ViewBag.CommonTextboxWidth = "240px";
    ViewBag.LongTextboxWidth = "700px";
    ViewBag.SectionSepWidth = "20px";
 }
<script type="text/javascript" src="@Url.Content("~/Scripts/Income/ICS082.js")"></script>

<div id="ics082dlgBox" class="main-popup-dialog">
    <div class="popup-dialog"></div>
</div>

<div style="display:none;">
    @Html.Hidden("ics082BillingTargetCodeLongFormat", (string)@ViewBag.BillingTargetCodeLongFormat);
    @Html.Hidden("ics082btnClose", (string)@Resources.ICS082.btnClose)
</div>

<div class="main-table" id="divInvoice">
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS082.lblBillingTargetCode</div>
            <div class="usr-object" style="width:@ViewBag.Col1Width">
                @Html.CommonTextBox("BillingTargetCode", (string)@ViewBag.BillingTargetCode, new { isViewMode = @ViewBag.isViewModeFlag, style = "width:" + @ViewBag.CommonTextboxWidth })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS082.lblBillingClientNameEN</div>
            <div class="usr-object" style="width:@ViewBag.Col2Width">
                @Html.CommonTextBox("BillingClientNameEN", (string)@ViewBag.BillingClientNameEN, new { isViewMode = @ViewBag.isViewModeFlag, style = "width:" + @ViewBag.LongTextboxWidth })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS082.lblBillingClientNameLC</div>
            <div class="usr-object" style="width:@ViewBag.Col2Width">
                @Html.CommonTextBox("BillingClientNameLC", (string)@ViewBag.BillingClientNameLC, new { isViewMode = @ViewBag.isViewModeFlag, style = "width:" + @ViewBag.LongTextboxWidth })
            </div>
        </div>
    
        <div class="usr-row" style="padding-top:@ViewBag.SectionSepWidth">
            <div id="ics082InvoiceGrid" style="margin-left:5px;"></div>
        </div>
    
    <div class="usr-clear-style" style="height:0px">&nbsp;</div>
</div>