@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;

@using SECOM_AJIS.Presentation.Income.Controllers;
@using SECOM_AJIS.Presentation.Income.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@{  
    ViewBag.Col1Width = "310px";
    ViewBag.CommonTextboxWidth = "150px";
    ViewBag.CommonCalendarTextboxWidth = "128px";       //CommonTextboxWidth - 22px
    ViewBag.LongTextboxWidth = "500px";  
    ViewBag.CommonButtonWidth = "100px";
    ViewBag.SectionSepWidth = "20px";
 }


@section page_header{
<script src="../../Scripts/Base/DateTimePicker.js" type="text/javascript"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Base/ComboBox.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/excells/dhtmlxgrid_excell_dhxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Income/ICS050.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/number-functions.js")"></script>
}

<div class="main-table" id="divRegisterInvoice">
    <div id="DivInputInvoice">
    <form id="formInputInvoice" action="#">
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS050.lblInvoiceNo</div>
            <div class="usr-object">
                @Html.CommonTextBox("InvoiceNo", null, new { style = "width:" + @ViewBag.CommonTextboxWidth , maxlength = "12" })
                @Html.RequireFiled()
                @Html.CommonButton("BtnRetrieve", (string)@Resources.ICS050.btnRetrieve, new { style = "width:" + @ViewBag.CommonButtonWidth + ";", type = "button" })
            </div>
        </div>
        
        <div id="DivInvoiceDetail">
        <div class="usr-row" style="padding-top:@ViewBag.SectionSepWidth">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS050.lblBillingTargetCode</div>
            <div class="usr-object">
                <div style="float:left;">
                    @Html.CommonTextBox("BillingTargetCode", null, new { style = "width:" + @ViewBag.CommonTextboxWidth, @readonly = true })
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS050.lblBillingClientNameENG</div>
            <div class="usr-object" style="width:@ViewBag.LongTextboxWidth">
                @Html.CommonTextBox("BillingClientNameENG", null, new { style = "width:" + @ViewBag.LongTextboxWidth, @readonly = true })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS050.lblBillingClientNameLOCAL</div>
            <div class="usr-object" style="width:@ViewBag.LongTextboxWidth">
                @Html.CommonTextBox("BillingClientNameLOCAL", null, new { style = "width:" + @ViewBag.LongTextboxWidth, @readonly = true })
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS050.lblBillingAmount</div>
            <div class="usr-object">
                <div style="float:left;">
                    @*@Html.NumericTextBox("BillingAmount", null, new { style = "width:" + @ViewBag.CommonTextboxWidth, @readonly = true })*@
                    @Html.NumericTextBoxWithMultipleCurrency("BillingAmount", "", null, new { style = "width:150px;", @readonly = true })
                </div>
                @*<div class="usr-object">
                    @Html.LabelCurrencyUnit("")
                </div>*@
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1Width">@Resources.ICS050.lblIssueInvoiceDate</div>
            <div class="usr-object">
                @Html.CommonTextBox("IssueInvoiceDate", null, new { style = "width:" + @ViewBag.CommonCalendarTextboxWidth })
                @Html.RequireFiled()
            </div>
            <div class="usr-object">
                @Html.LabelDateFormat("IssueInvoiceDate")
            </div>
        </div>
        </div>
    </form>
    </div>

   
    <div class="usr-clear-style" style="height:0px">&nbsp;</div>
</div>