<!--
//*********************************
// Create by: Attawhit Choosathan   
// Create date: 28/Jun/2010
// Update date: 28/Jun/2010
//*********************************
-->
@using SECOM_AJIS.Common.Helpers
@using SECOM_AJIS.Presentation.Common.Helpers
@using SECOM_AJIS.Presentation.Master.Helpers
@{
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
    ViewBag.LabelWidth = "180px";
}
@section page_header{
    <script src="../../Scripts/Base/AutoComplete.js" type="text/javascript"></script>
    <script src="../../Scripts/Base/ComboBox.js" type="text/javascript"></script>
    <script src="../../Scripts/Master/MAS030.js" type="text/javascript"></script>
}

<div id="mas030_HiddenData" style="display: none">
    @Html.Hidden("mas030_btnOK", (string)@Resources.MAS030.btnOK)
    @Html.Hidden("mas030_btnCancel", (string)@Resources.MAS030.btnCancel)
    @Html.Hidden("mas030_CustTypeJuristic", (string)@ViewBag.mas030_CustTypeJuristic)
    @Html.Hidden("mas030_ValidateBillingClient", (bool)@ViewBag.mas030_ValidateBillingClient)

    @Html.Hidden("hidHeadOfficeEN", (string)@ViewBag.HeadOfficeEN)
    @Html.Hidden("hidHeadOfficeLC", (string)@ViewBag.HeadOfficeLC)
</div>

<div id="mas030_InformationData" class="main-table">
    <div class="table-header">
        @Resources.MAS030.lblSubHeader
    </div>
    <form id="mas030_Register" action="#">
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblBillingClientCode
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_BillingClientCode", (string)@ViewBag.mas030_BillingClientCode, new { style = "width:170px;", @readonly = "readonly" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblCustomerType
        </div>
        <div class="usr-object">
            @Html.CustomerTypeComboBox("mas030_CustomerType", new { style = "width:174px;", selected = (string)@ViewBag.mas030_CustomerType })
            @Html.RequireFiled()
        </div>
        <div class="usr-label" style="width: 187px;">
            @Resources.MAS030.lblCompanyType
        </div>
        <div class="usr-object">
            @Html.CompanyTypeComboBox("mas030_CompanyType", new { style = "width:260px;", selected = (string)@ViewBag.mas030_CompanyType })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblIDnoTaxIDno
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_IDNo", (string)@ViewBag.mas030_IDNo, new { style = "width:170px;", maxlength = "15" })
        
            
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblNameEn
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_CustNameEN", (string)@ViewBag.mas030_CustNameEN, new { style = "width:635px;", maxlength = "100" })
            @Html.RequireFiled()
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            &nbsp;
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_CustFullNameEN", (string)@ViewBag.mas030_CustFullNameEN, new { style = "width:635px;", @readonly = "readonly" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblNameLc
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_CustNameLC", (string)@ViewBag.mas030_CustNameLC, new { style = "width:635px;", maxlength = "100" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            &nbsp;
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_CustFullNameLC", (string)@ViewBag.mas030_CustFullNameLC, new { style = "width:635px;", @readonly = "readonly" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            &nbsp;
        </div> 
        <div id="divStopType" class="usr-object">
            @Html.CommonRadioButton("rdoHeadOffice", @Resources.MAS030.lblHeadOffice, "1", true, "BranchType")
            @Html.CommonRadioButton("rdoBranch", @Resources.MAS030.lblBranch, "2", false, "BranchType")
        </div>                  
    </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblBranchNo
            </div>
            <div class="usr-object">
            @Html.CommonTextBox("mas030_BranchNo", (string)@ViewBag.mas030_BranchNo, new { style = "width:170px;", maxlength = "5" })
            @*@Html.RequireFiled()*@
            </div>
        </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblBranchNameEn
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_BranchNameEN", (string)@ViewBag.mas030_BranchNameEN, new { style = "width:635px;", maxlength = "100" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblBranchNameLc
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("mas030_BranchNameLC", (string)@ViewBag.mas030_BranchNameLC, new { style = "width:635px;", maxlength = "100" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblAddressEn
        </div>
        <div class="usr-object" style="height: auto">
            @Html.CommonTextArea("mas030_AddressEN", (string)@ViewBag.mas030_AddressEN, new { style = "width:635px; height:70px ; overflow: auto ", maxlength = "1600" })
            
        </div>
        <div class="usr-label" style="margin-left:5px">@Html.RequireFiled()</div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblAddressLc
        </div>
        <div class="usr-object" style="height: auto">
            @Html.CommonTextArea("mas030_AddressLC", (string)@ViewBag.mas030_AddressLC, new { style = "width:635px; height:70px ; overflow: auto", maxlength = "1600" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblNationality
        </div>
        <div class="usr-object">
            @Html.NationalityComboBox("mas030_Nationality", new { style = "width:174px;", selected = (string)@ViewBag.mas030_Nationality })
        </div>
        <div class="usr-label" style="width: 13.6px;">
            &nbsp;</div>
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblBusinessType
        </div>
        <div class="usr-object">
            @Html.BusinessTypeComboBox("mas030_BusinessType", new { style = "width:260px;", selected = (string)@ViewBag.mas030_BusinessType })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
            @Resources.MAS030.lblTelephoneNo
        </div>
        <div class="usr-object" style="height: auto">
            @Html.CommonTextBox("mas030_TelephoneNo", (string)@ViewBag.mas030_TelephoneNo, new { style = "width:170px;", maxlength = "100" })
        </div>
    </div>
    </form>
    <div class="usr-clear-style" style="height: 0%">
        &nbsp;
    </div>
</div>
