@using SECOM_AJIS.Common.Helpers
@{
    Layout = "~/Views/Shared/_DialogLayout.cshtml";
    
    ViewBag.LabelCol1Width = "120px";
}
@section page_header{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Upload/jquery.fileupload-ui.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Upload/jquery.fileupload.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Upload/jquery.fileupload-ui.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Quotation/Dialog.js")"></script>
    <script>
        function QUS050Initial() {
            ChangeDialogButtonText(
            ["Import", "Cancel"],
            [$("#btnImport").val(),
             $("#btnImportCancel").val()]);
        }

        $(document).ready(function () {
            var objParam = "";
            if (typeof (QUS050Object) == "function") {
                objParam = QUS050Object();
            }

            $("#FileUploadForm").fileUploadUI({
                url: $("#FileUploadForm").attr("action"),
                method: "POST",
                formData: objParam,
                beforeSend: function (event, files, index, xhr, handler, callBack) {
                    $("#SourceFile").val(files[0].name);
                    BindDialogButtonClick($("#btnImport").val(), function () {
                        callBack();
                    });
                },
                parseResponse: function (xhr, handler) {
                    var obj = null;
                    try {
                        if (typeof (xhr.responseText) != "undefined") {
                            obj = $.parseJSON(xhr.responseText);
                        } else {
                            obj = $.parseJSON(xhr.contents().text());
                        }
                    }
                    catch (err) {
                        obj = null;
                    }

                    onImportData(obj);
                    return obj;
                }
            });




        });
        function onImportData(obj) {
            if (obj != false) {
                if (obj != null) {
                    try {
                        if (obj.IsError == true) {
                            if (obj.Message.MessageType == 0) {
                                // Warning
                                OpenWarningDialog(obj.Message.Message);
                            }
                            else {
                                var obj = {
                                    module: "Quotation",
                                    code: obj.Message.Code
                                };
                                call_ajax_method_json("/Shared/GetMessage", obj, function (result) {
                                    OpenErrorMessageDialog(result.Code, result.Message, null);
                                });
                            }
                        }
                        if (obj.HasResultData == true) {
                            var objParam = "";
                            if (typeof (QUS050Object) == "function") {
                                objParam = QUS050Object();
                                objParam = {
                                    ScreenID: objParam.ScreenID,
                                    DataList: obj.ResultData
                                };
                            }

                            call_ajax_method_json("/Quotation/QUS050_ImportData", objParam, function (result) {
                                if (result != undefined) {
                                    if (typeof (QUS050Response) == "function") {
                                        QUS050Response(result[0], result[1]);
                                    }
                                }
                            });
                        }
                    }
                    catch (err) {
                        OpenErrorMessageDialog("MSG0000", err, null);
                    }
                }
                else {
                    var obj = {
                        module: "Quotation",
                        code: "MSG2028"
                    };
                    call_ajax_method_json("/Shared/GetMessage", obj, function (result) {
                        OpenErrorMessageDialog(result.Code, result.Message, null);
                    });
                }
            }
        }
    </script>
}
<div style="display:none">
    @Html.Hidden("btnImport", (string)@Resources.QUS050.btnImport)
    @Html.Hidden("btnImportCancel", (string)@Resources.QUS050.btnCancel)
</div>
<div class="main-table">
    <div class="table-header">
        @Resources.QUS050.lblImportTargetFile
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS050.lblSourceFile
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("SourceFile", null, new { @readonly = true, style = "width:300px;" })
        </div>
        <div class="usr-object">
            <form id="FileUploadForm" action="../../Content/import/ImportFileHandler.ashx" method="post" enctype="multipart/form-data">
                <div id="filediv">
                    <input id="FileUpload" name="FileUpload" type="file" multiple/>
                </div>
            </form>
        </div>
    </div>
    <div class="usr-row">&nbsp;</div>
    <div class="usr-clear-style">&nbsp;</div>
</div>