@using SECOM_AJIS.Common.Helpers;
@{
    ViewBag.LabelCol1Width = "220px";
    ViewBag.LabelCol2Width = "120px";
    ViewBag.LabelCol3Width = "130px";
    ViewBag.ObjectCol1Width = "140px";
    ViewBag.ObjectCol2Width = "220px";
    ViewBag.ObjectCol3Width = "110px";
    ViewBag.ObjectColMerge12Width = "310px";
    ViewBag.ObjectColMergeWidth = "720px";

    ViewBag.ObjectColCustNameWidth = "200px";
    
    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
}
@section page_header{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Base/DateTimePicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Quotation/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Quotation/QUS030.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Quotation/QUS030/QUS030_01.js")"></script>
}
<div style="display:none;">
    @Html.Hidden("IsImportFromQUS020", (string)ViewBag.IsImportFromQUS020);
    @Html.Hidden("defQuotationTargetCode", (string)ViewBag.QuotationTargetCode);
</div>
@Html.Partial("QUS030/_QUS030_01")
@Html.EmptyDIVforLoadData2("QUS030_02")
@Html.EmptyDIVforLoadData2("QUS030_03")
@Html.EmptyDIVforLoadData2("QUS030_04")
@Html.EmptyDIVforLoadData2("QUS030_05")
@Html.EmptyDIVforLoadData2("QUS030_06")
@Html.EmptyDIVforLoadData2("QUS030_07")
@Html.EmptyDIVforLoadData2("QUS030_08")
@Html.EmptyDIVforLoadData2("QUS030_09")
@Html.EmptyDIVforLoadData2("QUS030_10")
@Html.EmptyDIVforLoadData2("QUS030_11")
@Html.EmptyDIVforLoadData2("QUS030_12")
@Html.EmptyDIVforLoadData2("QUS030_13")
@Html.EmptyDIVforLoadData2("QUS030_14")
@Html.EmptyDIVforLoadData2("QUS030_15")
@Html.EmptyDIVforLoadData2("QUS030_16")
<div id="dlgBox" class="main-popup-dialog">
    <div class="popup-dialog"></div>
</div>