@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Presentation.Inventory.Helpers;
@using SECOM_AJIS.Presentation.Inventory.Controllers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@{
    
    ViewBag.LabelCol1Width = "220px";
    ViewBag.LabelCol2Width = "180px";
    ViewBag.LabelCol3Width = "130px";
    ViewBag.ObjectCol1Width = "130px";
    ViewBag.ObjectCol2Width = "220px";
    ViewBag.ObjectCol3Width = "110px";
    ViewBag.ObjectColMergeWidth = "720px";

    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
    
 }

@section page_header{

    <script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_group.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/excells/dhtmlxgrid_excell_dhxcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Base/AutoComplete.js")" ></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/Inventory/IVS170.js")"></script>

    <script type="text/javascript">
        var IVS170_ViewBag = {};
    </script>


}


<!-- Search criteria -->
<form id="formSearchCriteria" action="#">
<div class="main-table" id="divSearchCriteria">
    <div class="table-header">
        @Resources.IVS170.lblSearchCriteria
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width; ">
            @Resources.IVS170.lblCheckingYearMonth
        </div>
         <div class="usr-object">
            @Html.InventoryCheckingYearMonthCbo("CheckingYearMonth", new { style = "width:154px;" } ,true) @Html.RequireFiled()
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width; ">
            @Resources.IVS160.lblOffice
        </div>
         <div class="usr-object">
            @Html.InventoryOfficeAuthorityComboBox("OfficeCode", new { style = "width:154px" },true , "ALL") 
        </div>
        <div class="usr-label" style="width:180px;">
            @Resources.IVS160.lblLocation
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;" >
            @Html.InventoryLocationCheckingStockCbo("LocationCode","", new { style = "width:154px" } ,true , "ALL") 
        </div>
    </div>

    <div class="usr-row">
         <div class="usr-label" style="width:@ViewBag.LabelCol1Width; ">
            @Resources.IVS170.lblInstrumentArea
        </div>
         <div class="usr-object">
            @Html.InstrumentAreaComboBox("AreaCode", new { style = "width:494px" } , true ,"ALL")
        </div>
    </div>
    <div class="usr-row">
         <div class="usr-label" style="width:@ViewBag.LabelCol1Width; ">
            @Resources.IVS170.lblShelfNoFromTo
        </div>
         <div class="usr-object">
            @Html.CommonTextBox("ShelfNoFrom", null, new { style = "width:63px;", maxlength = "50" })
            <span> ~ </span>
            @Html.CommonTextBox("ShelfNoTo", null, new { style = "width:62px;", maxlength = "50" })
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width; ">
            @Resources.IVS170.lblInstrumentCode
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("InstrumentCode", null, new { style = "width:150px;", maxlength = "50" })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.IVS170.lblInstrumentName
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;" >
            @Html.CommonTextBox("InstrumentName", null, new { style = "width:150px;", maxlength = "100" }) 
        </div>

    </div>

    

    <div class="usr-row">
        <div class="usr-object" style="margin-top:5px;margin-right:4px; float:right;">
            <div>
                @Html.CommonButton("btnDownload", @Resources.IVS170.btnDownload, new { style = "width:100px;", type = "button" })
                @Html.CommonButton("btnSearch", @Resources.IVS170.btnSearch, new { style = "width:100px;", type = "button" })
                @Html.CommonButton("btnClear", @Resources.IVS170.btnClear, new { style = "width:100px;", type = "button" })
                <iframe id="ifDownload" name="Download" style="visibility: hidden; width: 0px; height: 0px;">
                </iframe>
            </div>
        </div>
    </div>


    <div class="usr-clear-style" style="height:0px">&nbsp;</div>
</div>
</form>

<!-- Show slip no. -->
<div class="main-table" id="divStockDiffList">
    <div class="table-header">
        @Resources.IVS170.lblStockDifferenceList
    </div>

    <div class="usr-row">
        <div id="IVS170_StockDifferenceListGrid" style="width: 99%; margin-left: 4px;"></div>
    </div>

    <div class="usr-clear-style" style="height:0px">&nbsp;</div>
</div>