@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Inventory.Controllers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@using SECOM_AJIS.Presentation.Inventory.Helpers;

@{
    
    ViewBag.Col1 = "210px;";
    ViewBag.Col2 = "241px;";
    ViewBag.NormalTxt = "175px;";
    ViewBag.NormalCbo = "181px;";
    ViewBag.ProjPurSortObj = "120px;";
    ViewBag.LongTxt = "720px;";
    ViewBag.Midtxt = "220px;";
    ViewBag.SysProdTxt = "300px;";   

 }

@section page_header{


<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcommon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgrid.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgridcell.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_data.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_pgn.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/excells/dhtmlxgrid_excell_dhxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Base/GridControl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/Dialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Inventory/IVS100.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Contract/Dialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Base/AutoComplete.js")" ></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgrid.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/skins/dhtmlxgrid_dhx_secom.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_pgn_bricks.css")"/>

<script type="text/javascript">
</script>


}

<!-- ===================================== Specify Location =========================================== -->
<div class="main-table" id="MainSection"> 
    <div id="Specify Location">      
    <div class="table-header">
        @Resources.IVS100.lblSpecifyLocation</div> 
        <div id = "locationSection">   
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblSourceLocation
            </div>
            <div class="usr-object" id="divSource" style="width:@ViewBag.NormalCbo">@Html.InventoryLocationRepairRequestCbo("SourceLocation", null, new { style = "width:" + @ViewBag.NormalCbo })
            </div>
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblDestinationLocation
            </div>
            <div class="usr-object" id="divDest" style="width:@ViewBag.NormalTxt">@Html.CommonTextBox("DestinationLocation", (string)@ViewBag.DestLocation, new { style = "width:" + ViewBag.NormalTxt, @readonly = "readonly" })
            </div>
        </div>
        <div class="usr-row" style="height:5px;">&nbsp;</div>
        </div>
        </div> 
        <div id = "searchSection">
        <hr />
        <div id="ResultSection">
        <div class="table-header">
            @Resources.IVS100.lblSearchInstrument</div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblInstrumentCode
            </div>
            <div class="usr-object">
                @Html.CommonTextBox("InstCode", null, new { style = "width:" + ViewBag.NormalTxt, maxlength = "50" })</div>
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblInstrumentName
            </div>
            <div class="usr-object">
                @Html.CommonTextBox("InstName", null, new { style = "width:" + ViewBag.NormalTxt, maxlength = "100" })</div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblInstrumentArea
            </div>
            <div class="usr-object">
                @Html.InvenotryAreaNoLendingCbo("InstArea", null, true, "All")
            </div>
        </div>    
    <div class="usr-row">
        <div class="usr-object" style="float: right;">
            @Html.CommonButton("btnSearch", @Resources.IVS100.lblBtnSearch) @Html.CommonButton("btnClear", @Resources.IVS100.lblBtnClear)
        </div>
    </div>    
    <div class="usr-row" id="divInstGrid">
        <div id="InstGrid" style="width: 99%; margin-left: 7px;">
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
    </div>
    </div>
</div>
<!-- ===================================== End Specify Location ========================================-->
<!-- ===================================== transfer stock-out repairing instrument detail =========================================== -->
<div class="main-table" id="TransferStock">
    <div class="table-header">@Resources.IVS100.lblTransferStockRepairInstrument</div>
    <form name="formSearch" id="formSearch" action="#" style="width:800px">
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblApproveNo
        </div>
        <div class="usr-object" style="width:@ViewBag.NormalTxt">
            @Html.CommonTextBox("ApproveNo", null, new { style = "width:" + ViewBag.NormalTxt, maxlength = "15" })</div>
        <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblSubContractor
            </div>
            <div class="usr-object" style="width:@ViewBag.NormalTxt">
                @Html.CommonTextBox("SubContractor", null, new { style = "width:" + ViewBag.NormalTxt, maxlength = "50" })</div>
    </div>    
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS100.lblMemo
        </div>
        <div class="usr-object" style="width:568px">
            @Html.CommonTextArea("memo", null, new { style = "width:568px; height:80px", maxlength = "1000" })
        </div>
    </div>
    </form>
    <div class="usr-row" id="divGrid">
        <div id="EliminateInst" style="width: 99%; margin-left: 7px;">
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
</div>
<!-- ===================================== End transfer stock-out repairing instrument detail =========================================== -->
<!-- ===================================== Show slip no. =========================================== -->
<div class="main-table" id="ShowSlip">
    <div class="table-header">
        @Resources.IVS100.lblShowSlipNo</div>
    <div class="usr-row">
        <div class="usr-label" style="width: 315px;">@Resources.IVS100.lblSlipNo
        </div>
        <div class="usr-object">
            @Html.CommonTextBox("Slipno", null, new { @readonly = "true" }) 
            @Html.CommonButton("Download", @Resources.IVS100.lblBtnDownloadSlip)
            @Html.CommonButton("NewRegister", @Resources.IVS100.lblBtnNewRegister)
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
</div>
<!-- ===================================== End Show slip no. =========================================== -->
<div id="dlgBox" class="main-popup-dialog">
    <div class="popup-dialog">
    </div>
</div>
