@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Inventory.Controllers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@using SECOM_AJIS.Presentation.Inventory.Helpers;

@{
    
    ViewBag.Col1 = "130px;";
    ViewBag.Col2 = "241px;";
    ViewBag.NormalTxt = "275px;";
    ViewBag.NormalCbo = "281px;";
    ViewBag.ProjPurSortObj = "120px;";
    ViewBag.LongTxt = "720px;";
    ViewBag.Midtxt = "220px;";
    ViewBag.SysProdTxt = "300px;";
    ViewBag.ShelfNo = "170px;"; 

 }

@section page_header{


<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcommon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgrid.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgridcell.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_data.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_pgn.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/excells/dhtmlxgrid_excell_dhxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Base/GridControl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/Dialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Inventory/IVS210.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Contract/Dialog.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Base/AutoComplete.js")" ></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgrid.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/skins/dhtmlxgrid_dhx_secom.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_pgn_bricks.css")"/>

<script type="text/javascript">    
</script>


}

<!-- ===================================== Specify Location =========================================== -->
<div class="main-table" id="MainSection"> 
    <div id="Specify Location">      
    <div class="table-header">
        @Resources.IVS210.lblSearchInstrument</div> 
        <div id = "HeaderSection">   
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS210.lblOffice
            </div>
            <div class="usr-object" id="divOffice" style="width:@ViewBag.NormalTxt">@Html.CommonTextBox("Office", (string)ViewBag.OfficeName, new { style = "width:" + ViewBag.NormalTxt, @readonly = "readonly" })
            @Html.Hidden("OfficeCode", (string)@ViewBag.OfficeCode)            
            </div>
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS210.lblLocation
            </div>
            <div class="usr-object" id="divLocation" style="width:@ViewBag.NormalTxt">@Html.CommonTextBox("Location", (string)ViewBag.Location, new { style = "width:" + ViewBag.NormalTxt, @readonly = "readonly" })
            @Html.Hidden("LocationCode", (string)ViewBag.LocationCode)
            </div>
        </div>
        </div>
        <div class="usr-row" style="height:5px;">&nbsp;</div>
        </div> 
        <div id = "searchSection">
        <hr />
        <div id="ResultSection">
        <div class="table-header">
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS210.lblInstrumentCode
            </div>
            <div class="usr-object" style="width:@ViewBag.NormalTxt">
                @Html.CommonTextBox("InstCode", null, new { style = "width:" + ViewBag.NormalTxt, maxlength = "50" })</div>
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS210.lblInstrumentName
            </div>
            <div class="usr-object" style="width:@ViewBag.NormalTxt">
                @Html.CommonTextBox("InstName", null, new { style = "width:" + ViewBag.NormalTxt, maxlength = "100" })</div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS210.lblInstrumentArea
            </div>
            <div class="usr-object">
                @Html.InvenotryAreaNoLendingCbo("InstArea", null, true, "All")
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.Col1">@Resources.IVS210.lblShelfNo
            </div>
            <div class="usr-object">
                @Html.CommonTextBox("ShelfNoFrom", null, new { style = "width:" + ViewBag.ShelfNo, maxlength = "50" })~
            </div>
            <div class="usr-object">
                @Html.CommonTextBox("ShelfNoTo", null, new { style = "width:" + ViewBag.ShelfNo, maxlength = "50" })
            </div>
        </div>    
    <div class="usr-row">
        <div class="usr-object" style="float: right;">
            @Html.CommonButton("btnSearch", @Resources.IVS210.lblBtnSearch) @Html.CommonButton("btnClear", @Resources.IVS210.lblBtnClear)
        </div>
    </div>    
    <div class="usr-row" id="divInstGrid">
        <div id="InstGrid" style="width: 99%; margin-left: 8px;">
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
    </div>
    </div>
</div>
<!-- ===================================== End Specify Location ========================================-->
<!-- ===================================== transfer stock-out repairing instrument detail =========================================== -->
<div class="main-table" id="TransferStock">
    <form id="instrumentDetail" action="#">
    <div class="table-header">@Resources.IVS210.lblTransferInstrumentDetail</div>    
    <div class="usr-row" id="divGrid">
        <div id="EliminateInst" style="width: 99%; margin-left: 7px;">
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
    </form>
</div>
<!-- ===================================== End transfer stock-out repairing instrument detail =========================================== -->
<div id="dlgBox" class="main-popup-dialog">
    <div class="popup-dialog">
    </div>
</div>
