<!--
//*********************************
// Create by: Non A.
// Create date: 12/Jan/2015
// Update date: 12/Jan/2015
//*********************************
-->
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Contract.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Presentation.Inventory.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@{
    ViewBag.Col1Width = "130px";
    ViewBag.Col2Width = "300px";
    ViewBag.Col2WidthSpan3 = "810px";
    ViewBag.Col3Width = "170px";
    ViewBag.Col4Width = "340px";
    
    ViewBag.WidthButton1 = "80px";
    ViewBag.WidthButton2 = "140px";

    ViewBag.WidthComboBox = "180px";
    ViewBag.WidthTextBox = "180px";
    ViewBag.WidthTextBoxLong = "540px";
    ViewBag.WidthTextBoxRange = "130px";
    ViewBag.WidthDatePicker = "90px";

    ViewBag.DTLCol1Width = "250px;";
    ViewBag.DTLCol2Width = "200px;";
    ViewBag.DTLCol3Width = "150px;";
    ViewBag.DTLCol4Width = "150px;";
}
@section page_header{
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/excells/dhtmlxgrid_excell_dhxcalendar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/excells/dhtmlxgrid_excell_ron2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Base/DateTimePicker.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Inventory/IVS284.js")" ></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/number-functions.js")"></script>
    <script type="text/javascript">
    </script>
}
<div id="divSearch" class="main-table" style="margin-top: 5px;">
    <div class="table-header">@Resources.IVS284.lblHeaderSearchCondition</div>
    <form id="frmSearch" action="#">
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.Col1Width;">@Resources.IVS284.lblStockReportType</div>
        <div class="usr-object" style="width:@ViewBag.Col2WidthSpan3;">
            @Html.StockReportTypeCbo("cboStockReportType", new { style = "width:" + ViewBag.WidthComboBox, name = "StockReportType" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.Col1Width;">@Resources.IVS284.lblContractCode</div>
        <div class="usr-object" style="width:@ViewBag.Col2Width;">
            @Html.CommonTextBox("txtContractCode", null, new { style = "width:" + ViewBag.WidthTextBox, name = "ContractCode", maxlength = 20 })
        </div>
        <div class="usr-label" style="width:@ViewBag.Col3Width;">@Resources.IVS285.lblProcessDate</div>
        <div class="usr-object" style="width:@ViewBag.Col4Width;">
            @Html.PhysicalPeriodCbo("cboProcessDate", new { style = "width:" + ViewBag.WidthComboBox, name = "ProcessDate" })
        </div>
    </div>
    <div class="usr-clear-style">&nbsp;</div>
    <div class="usr-row" style="margin-top: 5px">
        <div style="text-align: right; float: right; margin-right: 4px;">
            @Html.CommonButton("btnSearch", (string)@Resources.IVS284.btnSearch, new { style = "width:" + @ViewBag.WidthButton1 })
            @Html.CommonButton("btnClear", (string)@Resources.IVS284.btnClear, new { style = "width:" + @ViewBag.WidthButton1 })
        </div>
    </div>
    </form>
    <div class="usr-clear-style">&nbsp;</div>
</div>
<div id="divSearchResult" class="main-table" style="margin-top: 5px;">
    <div class="table-header">@Resources.IVS284.lblHeaderResultList</div>
    <div id="divSearchResultGrid" style="width: 99%; margin-left: 4px; margin-top: 5px;">
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
    <div class="usr-row" style="margin-top: 5px">
        <div style="text-align: right; float: right; margin-right: 4px;">
            @Html.CommonButton("btnDownload", (string)@Resources.IVS284.btnDownload, new { style = "width:" + @ViewBag.WidthButton1 })
            @Html.CommonButton("btnDownloadSummary", (string)@Resources.IVS284.btnDownloadSummary, new { style = "width:" + @ViewBag.WidthButton2 })
            <iframe id="ifDownload" name="Download" style="visibility: hidden; width: 0px; height: 0px;"></iframe>
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
</div>
<div id="divDetail" class="main-table" style="margin-top: 5px; display: none">
    <div class="table-header">@Resources.IVS284.lblHeaderDetail</div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.DTLCol1Width;">@Resources.IVS284.lblContractCode</div>
        <div class="usr-object">
            @Html.CommonTextBox("txtDtlContractCode", null, new { style = "width:" + ViewBag.WidthTextBox, name = "ContractCode", @readonly = "ReadOnly" })
        </div>
        <div class="usr-label" style="width:@ViewBag.Col3Width;">@Resources.IVS284.headerOCC</div>
        <div class="usr-object" style="width:@ViewBag.Col4Width;">
            @Html.CommonTextBox("txtDtlOCC", null, new { style = "width:" + ViewBag.WidthTextBox, name = "OCC", @readonly = "ReadOnly" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.DTLCol1Width;">@Resources.IVS284.headerCustomer</div>
        <div class="usr-object">
            @Html.CommonTextBox("txtDtlCustomer", null, new { style = "width:" + ViewBag.WidthTextBoxLong, name = "Customer", @readonly = "ReadOnly" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.DTLCol1Width;">@Resources.IVS284.headerSiteName</div>
        <div class="usr-object">
            @Html.CommonTextBox("txtDtlSiteName", null, new { style = "width:" + ViewBag.WidthTextBoxLong, name = "SiteName", @readonly = "ReadOnly" })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.DTLCol1Width;">@Resources.IVS284.headerOperateDate</div>
        <div class="usr-object">
            @Html.CommonTextBox("txtDtlOperateDate", null, new { style = "width:" + ViewBag.WidthTextBox, name = "OperateDate", @readonly = "ReadOnly" })
        </div>
        <div class="usr-label" style="width:@ViewBag.Col3Width;">@Resources.IVS284.headerTransferDate</div>
        <div class="usr-object" style="width:@ViewBag.Col4Width;">
            @Html.CommonTextBox("txtDtlTransferDate", null, new { style = "width:" + ViewBag.WidthTextBox, name = "TransferDate", @readonly = "ReadOnly" })
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
    <div id="divDetailGrid" style="width: 99%; margin-left: 4px; margin-top: 5px;">
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
    <div class="usr-row">
        <div style="float: right">
            <div class="usr-label" style="width: 100px;">@Resources.IVS284.headerUnit</div>
            <div class="usr-object">
                @Html.CommonTextBox("txtTotalQty", null, new { style = "width: 100px; text-align: right;", name = "TotalQty", @readonly = "ReadOnly" })
            </div>
            <div class="usr-label" style="width: 150px;">@Resources.IVS284.headerAmount</div>
            <div class="usr-object">
                @Html.CommonTextBox("txtTotalAmount", null, new { style = "width: 100px; text-align: right;", name = "TotalAmount", @readonly = "ReadOnly" })
            </div>
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
</div>