@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;




@*Maintenance information (in case MA)*@
<div class="main-table">
    <div class="table-header">@Resources.CMS120.lblSection_Maintenance_information_case_MA</div>


    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblMaintenance_contractCode
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtMaintenance_contractCode", (string)@ViewBag.txtMaintenance_contractCode, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblMaintenanceTargetProduct
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtMaintenanceTargetProduct", (string)@ViewBag.txtMaintenanceTargetProduct , new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblMaintenanceType
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtMaintenanceType", (string)@ViewBag.txtMaintenanceType , new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblMaintenanceCycle_month
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtMaintenanceCycleMonth", (string)@ViewBag.txtMaintenanceCycleMonth, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblMaintenanceContractStart_month
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtMaintenanceContractStart_month", (string)@ViewBag.txtMaintenanceContractStart_month, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblMaintenanceFeeType
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtMaintenanceFeeType", (string)@ViewBag.txtMaintenanceFeeType, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblMemo
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtMemo", (string)@ViewBag.txtMemo, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>

    <div class="usr-row">
        <div class="fieldset-table" style="width: 1000px; height: 100%; margin-left: 5px ;">
            <div class="fieldset-header">
                    <span>@Resources.CMS120.lblSection_Maintenance_contract_target_list</span>
                </div>
                <div class="usr-row">
                    <div id="mygrid_MaintenanceContract" style="width: 99%; margin-left: 4px;"></div>
                </div>
                <div class="usr-clear-style">&nbsp;</div>
        </div>
    </div>

    <div class="usr-clear-style">
        &nbsp;</div>
</div>
