@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;
<!-- ======== Html content ======== --->
@* --- Contract Information ---  *@
<div class="main-table">
    <div class="table-header">
        @Resources._ContractInformation.lblHeaderName
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblContractCode
        </div>
        <div class="usr-object" style="width:@ViewBag.headText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtContractCode", (string)@ViewBag.txtContractCode, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblUserCode
        </div>
        <div class="usr-object" style="width:@ViewBag.headText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtUserCode", (string)@ViewBag.txtUserCode, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblCustomerCodeC
        </div>
        <div class="usr-object" style="width:@ViewBag.headText; ">
            @Html.CommonLink("lnkCustomerCodeC", (string)@ViewBag.lnkCustomerCodeC)&nbsp;
        </div>
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            <div>
                @Resources._ContractInformation.lblCustomerCodeR
            </div>
        </div>
        <div class="usr-object" style="width:@ViewBag.headText; ">
            @Html.CommonLink("lnkCustomerCodeR", (string)@ViewBag.lnkCustomerCodeR)&nbsp;
        </div>
        <div class="usr-label" style="width: 120px;">
            @Resources._ContractInformation.lblSiteCode
        </div>
        <div class="usr-object" style="width:@ViewBag.headText; ">
            @Html.CommonLink("lnkSiteCode", (string)@ViewBag.lnkSiteCode)&nbsp;
        </div>
    </div>
    @* ====================================================================================================================== *@
    <div class="usr-row" style="height: 20px">
        &nbsp;</div>
    @* ====================================================================================================================== *@
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblContractNameEng
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtContractNameEng", (string)@ViewBag.txtContractNameEng, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblBranchName_Eng
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtBranchName_Eng", (string)@ViewBag.txtBranchName_Eng, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblCointractAddrEng
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtContractAddrEng", (string)@ViewBag.txtContractAddrEng, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblBranchAddress_Eng
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtBranchAddress_Eng", (string)@ViewBag.txtBranchAddress_Eng, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row" style="margin-top: 10px;">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblSiteNameEng
        </div>
        <div class="usr-object" style="width:@ViewBag.longText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtSiteNameEng", (string)@ViewBag.txtSiteNameEng, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblSiteAddrEng
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtSiteAddrEng", (string)@ViewBag.txtSiteAddrEng, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    @* ====================================================================================================================== *@
    <div class="usr-row" style="height: 20px">
        &nbsp;</div>
    @* ====================================================================================================================== *@
    <div class="usr-row" style="margin-top: 10px;">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblContractNameLocal
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtContractNameLocal", (string)@ViewBag.txtContractNameLocal, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblBranchName_Local
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtBranchName_Local", (string)@ViewBag.txtBranchName_Local, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblCointractAddrLocal
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtContractAddrLocal", (string)@ViewBag.txtContractAddrLocal, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblBranchAddress_Local
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtBranchAddress_Local", (string)@ViewBag.txtBranchAddress_Local, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row" style="margin-top: 10px;">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblSiteNameLocal
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtSiteNameLocal", (string)@ViewBag.txtSiteNameLocal, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources._ContractInformation.lblSiteAddrLocal
        </div>
        <div class="usr-object" style="width:700px; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtSiteAddrLocal", (string)@ViewBag.txtSiteAddrLocal, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
          
        </div>
        <div class="usr-object" style="width:@ViewBag.longText; background-color:@ViewBag.txtBackgroundColor;color:#ff7700">
            @Html.CommonCheckButton("ChkAttachImportanceFlag", @Resources.CMS120.lblAttachImportanceFlag, null, null, new { isViewMode = @ViewBag.isViewMode, disabled = true })
        </div>
    </div>
    @* ====================================================================================================================== *@
    <div class="usr-row" style="height: 20px">
        &nbsp;</div>
    @* ====================================================================================================================== *@
    <div class="usr-row" style="width:@ViewBag.merge">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblContactPoint
        </div>
        <div class="usr-object" style="width:@ViewBag.longText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtContactPoint", (string)@ViewBag.txtContactPoint, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    @* ====================================================================================================================== *@
    <div class="usr-row" style="height: 20px">
        &nbsp;</div>
    @* ====================================================================================================================== *@
    <div class="usr-row" style="width:@ViewBag.merge">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblSecurityTypeCode
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText2; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtSecurityTypeCode", (string)@ViewBag.txtSecurityTypeCode, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblProduct
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText2; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtProduct", (string)@ViewBag.txtProduct, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row" style="width:@ViewBag.merge">
        <div class="usr-label" style="width:@ViewBag.lbWidth;">
            @Resources.CMS120.lblOperationOffice
        </div>
        <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
            @Html.CommonTextBox("txtOperationOffice", (string)@ViewBag.txtOperationOffice, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-object" style="float: right; margin-top: -120px">
            <div>
                <div style="margin-top: 2px">@Html.CommonButton("btnViewCustomerHistory", @Resources.CMS120.btnViewCustomerHistory, new { style = "width:" + @ViewBag.RightBtnSet + ";", type = "button" })</div>
                <div style="margin-top: 2px">@Html.CommonButton("btnViewIncidentList", @Resources.CMS120.btnViewIncidentList, new { style = "width:" + @ViewBag.RightBtnSet + ";", type = "button" })</div>
                <div style="margin-top: 2px">@Html.CommonButton("btnViewARList", @Resources.CMS120.btnViewARList, new { style = "width:" + @ViewBag.RightBtnSet + ";", type = "button" })</div>
                <div style="margin-top: 2px">@Html.CommonButton("btnRegisterIncident", @Resources.CMS120.btnRegisterIncident, new { style = "width:" + @ViewBag.RightBtnSet + ";", type = "button" })</div>
                <div style="margin-top: 2px">@Html.CommonButton("btnRegisterAR", @Resources.CMS120.btnRegisterAR, new { style = "width:" + @ViewBag.RightBtnSet + ";", type = "button" })</div>
            </div>
        </div>
    </div>
    <div class="usr-clear-style">
        &nbsp;</div>
</div>
