@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@{
    Layout = "";
    ViewBag.LabelCol1Width = "220px";
    ViewBag.LabelCol2Width = "120px";
    ViewBag.LabelCol3Width = "130px";
    ViewBag.ObjectCol1Width = "181px";
    ViewBag.ObjectCol2Width = "220px";
    ViewBag.ObjectCol12_SWidth = "369px";
    ViewBag.ObjectCol3Width = "110px";
    ViewBag.ObjectColMerge12Width = "280px";
    ViewBag.ObjectColMergeWidth = "720px";

    ViewBag.ObjectColCustNameWidth = "200px";

    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS010/CTS010_08.js")"></script>
<form id="formInChargeInformation">
    <div id="divInChargeInformation" class="main-table">
        <div class="table-header">@Resources.CTS010.lblInChargeInformation</div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS010.lblContractOffice</div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMerge12Width;">
                @Html.ContractOfficeAuthorityCbo("ContractOfficeCode", new { selected = @ViewBag.ContractOfficeCode, style = "width:185px;" })
                @Html.RequireFiled()
            </div>
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS010.lblOperationOfficeCode</div>
            <div class="usr-object" style="width:200px;">
                @Html.OperationOfficeMAComboBox("OperationOfficeCode", new { selected = @ViewBag.OperationOfficeCode, style = "width:185px;" }, false)
                @Html.RequireFiled()
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.CTS010.lblSalesman1
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("SalesmanEmpNo1", (string)@ViewBag.SalesmanEmpNo1, new { maxlength = "10", style = "width:130px;" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("SalesmanEmpNameNo1", (string)@ViewBag.SalesmanEmpNameNo1, new { style = "width:200px;", @readonly = true })
                    @Html.RequireFiled()
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.CTS010.lblSalesman2
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("SalesmanEmpNo2", (string)@ViewBag.SalesmanEmpNo2, new { maxlength = "10", style = "width:130px;" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("SalesmanEmpNameNo2", (string)@ViewBag.SalesmanEmpNameNo2, new { style = "width:200px;", @readonly = true })
                </div>
            </div>
        </div>
        <div class="usr-row">
            <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                @Resources.CTS010.lblSalesSupporter
            </div>
            <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                <div style="float:left;margin-right:5px;">
                    @Html.CommonTextBox("SalesSupporterEmpNo", (string)@ViewBag.SalesSupporterEmpNo, new { maxlength = "10", style = "width:130px;" })
                </div>
                <div style="float:left;">
                    @Html.CommonTextBox("SalesSupporterEmpName", (string)@ViewBag.SalesSupporterEmpName, new { style = "width:200px;", @readonly = true })
                </div>
            </div>
        </div>
        <div class="usr-clear-style">&nbsp;</div>
    </div>
</form>