@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@*Product information*@
<div id="divProductInformation" class="main-table">
    <div class="table-header">@Resources.CMS130.lblProduct_information</div>
    <div style="float: right; margin: -20px 0 0 0;">
        @if ((string)ViewBag.ProductTypeCode == ProductType.C_PROD_TYPE_AL || (string)ViewBag.ProductTypeCode == ProductType.C_PROD_TYPE_RENTAL_SALE || (bool)ViewBag.isShowAll)
        {
            <div class="fieldset-table" style="width: @ViewBag.AramWidth; height: 100%;">
                <div class="fieldset-header">
                    <span>@Resources.CMS130.lblAlarm_provided_service_type</span>
                </div>
                <div style="margin-left: 5px" class="label-view">@Html.CommonCheckButton("chkFire_monitoring", @Resources.CMS130.chkFire_monitoring, null, (bool)@ViewBag.chkFire_monitoring, new { disabled = "disabled" })</div>
                <div style="margin-left: 5px" class="label-view">@Html.CommonCheckButton("chkCrime_prevention", @Resources.CMS130.chkCrime_prevention, null, (bool)@ViewBag.chkCrime_prevention, new { disabled = "disabled" })</div>
                <div style="margin-left: 5px" class="label-view">@Html.CommonCheckButton("chkEmergency_report", @Resources.CMS130.chkEmergency_report, null, (bool)@ViewBag.chkEmergency_report, new { disabled = "disabled" })</div>
                <div style="margin-left: 5px" class="label-view">@Html.CommonCheckButton("chkFacility_monitoring", @Resources.CMS130.chkFacility_monitoring, null, (bool)@ViewBag.chkFacility_monitoring, new { disabled = "disabled" })</div>
                <div class="usr-clear-style">
                    &nbsp;</div>
            </div>

            <div style="height: 7px">
                &nbsp;</div>

        }
        <div>@Html.Raw(Html.ContractsSameSiteLinkList("contractSameSiteList", @Resources.CMS130.lblContracts_of_the_same_site, (string)@ViewBag.SiteCodeList, false, new { width = @ViewBag.AramWidth, height = "120px;" }, (string)@ViewBag.ContractCode))</div>
    </div>
    @*===================================================================================================*@
    @*      Contract fee ..                                                                              *@
    @*===================================================================================================*@
    <div style="float: left; width: 740px;">
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblContract_fee
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                <div style="float:left;">@Html.CommonTextBox("txtContractFee", (string)@ViewBag.txtContractFee, new { isViewMode = @ViewBag.isViewMode })</div>
                @*@Html.LabelCurrencyUnit("lblCurency")*@
            </div>
            <div class="usr-label" style="width: 170px;">
                @Resources.CMS130.lblChange_operation_date
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtChange_operation_date", (string)@ViewBag.txtChange_operation_date, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblStopFee
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                <div style="float:left;">@Html.CommonTextBox("txtStopFee", (string)@ViewBag.txtStopFee, new { isViewMode = @ViewBag.isViewMode })</div>
                @*@Html.LabelCurrencyUnit("lblCurency")*@
            </div>
        </div>
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblSecurity_type_code
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtSecurity_type_code", (string)@ViewBag.txtSecurity_type_code, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width: 170px;">
                @Resources.CMS130.lblProduct
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtProduct", (string)@ViewBag.txtProduct, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblChange_type
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtChange_type", (string)@ViewBag.txtChange_type, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width: 170px;">
                @Resources.CMS130.lblReason
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtReason", (string)@ViewBag.txtReason, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblNegotiation_staff_1
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtNegotiation_staff_1", (string)@ViewBag.txtNegotiation_staff_1, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width: 170px;">
                @Resources.CMS130.lblNegotiation_staff_2
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtNegotiation_staff_2", (string)@ViewBag.txtNegotiation_staff_2, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblApprove_no1
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtApprove_no1", (string)@ViewBag.txtApprove_no1, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width: 170px;">
                @Resources.CMS130.lblApprove_no2
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtApprove_no2", (string)@ViewBag.txtApprove_no2, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblChange_operation_register_date
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtChange_operation_register_date", (string)@ViewBag.txtChange_operation_register_date, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width: 170px;">
                @Resources.CMS130.lblChange_operation_registrant
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtChange_operation_registrant", (string)@ViewBag.txtChange_operation_registrant, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblSecurity_memo
            </div>
            <div class="usr-object" style="width:515px; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtSecurity_memo", (string)@ViewBag.txtSecurity_memo, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
 
        <div class="usr-row" style="width: 740px;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS130.lblOperation_type
            </div>
            <div class="usr-object">
                <div class="label-view">@Html.OperationTypeCheckList("chkOperationTypeList", (string[])@ViewBag.chkOperationTypeList, new { @disabled = "disabled", width = "150px", height = "40px" })</div>
            </div>
        </div>
    </div>

    <div class="usr-clear-style">&nbsp;</div>
</div>
