@using SECOM_AJIS.Common.Helpers
@using SECOM_AJIS.Presentation.Common.Helpers
@{
    Layout = "";

    ViewBag.LabelCol1Width = "190px";
    ViewBag.ObjectCol1Width = "225px";
    ViewBag.LabelCol2Width = "190px";
    ViewBag.ObjectCol2Width = "225px";
    ViewBag.ObjectColMergeWidth = "630px";
    ViewBag.isViewMode = true;
}
<div id="divQuotationDetailInformationONLINE" class="main-table">
    <div class="table-header">
        @Resources.QUS012.lblQuotationDetailInformationONLINE
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblProductCode
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ProductCode", (string)@ViewBag.ProductCode, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblContractTransferStatus
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("ContractTransferStatus", (string)@ViewBag.ContractTransferStatus, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row usr-row-space">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblContractFee
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            <div style="float:left;">
                @Html.NumericTextBoxWithMultipleCurrency("ContractFee", (string)@ViewBag.ContractFee, (string)@ViewBag.ContractFeeCurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblDepositFee
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            <div style="float:left;">
                @Html.NumericTextBoxWithMultipleCurrency("DepositFee", (string)@ViewBag.DepositFee, (string)@ViewBag.DepositFeeCurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
    </div>
    <div class="usr-row usr-row-space">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblSecurityTypeCode
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("SecurityTypeCode", (string)@ViewBag.SecurityTypeCode, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblDispatchType
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("DispatchType", (string)@ViewBag.DispatchType, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;margin-top:12px;">
            @Resources.QUS012.lblOperationType
        </div>
        <div class="usr-object">
            @Html.OperationTypeCheckList("chkOperationType", (string[])@ViewBag.OperationTypeList, new { @disabled = "disabled", width = "142px", height = "40px" })
        </div>
    </div>
    <div class="usr-row usr-row-space">
        <div class="fieldset-table">
            <div class="fieldset-header">
                <span>@Resources.QUS012.lblTelephoneLineInformation</span>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblNormalSignal
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    <div style="float:left;margin:0px 3px 0 0;padding-top:2px;">
                        @Resources.QUS012.lblLineType
                    </div>
                    <div style="float:left;">
                        @Html.CommonTextBox("PhoneLineType1", (string)@ViewBag.PhoneLineType, new { isViewMode = @ViewBag.isViewMode })
                    </div>
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS012.lblTelephoneOwner
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.CommonTextBox("PhoneLineOwner1", (string)@ViewBag.PhoneLineOwner, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblImageMonitoring
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    <div style="float:left;margin:0px 3px 0 0;padding-top:2px;">
                        @Resources.QUS012.lblLineType
                    </div>
                    <div style="float:left;">
                        @Html.CommonTextBox("PhoneLineType2", (string)@ViewBag.ImageMonitoringType, new { isViewMode = @ViewBag.isViewMode })
                    </div>
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS012.lblTelephoneOwner
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.CommonTextBox("PhoneLineOwner2", (string)@ViewBag.ImageMonitoringOwner, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblDisconnectionMonitoring
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    <div style="float:left;margin:0px 3px 0 0;padding-top:2px;">
                        @Resources.QUS012.lblLineType
                    </div>
                    <div style="float:left;">
                        @Html.CommonTextBox("PhoneLineType3", (string)@ViewBag.DisconnectionMonitoringType, new { isViewMode = @ViewBag.isViewMode })
                    </div>
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS012.lblTelephoneOwner
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.CommonTextBox("PhoneLineOwner3", (string)@ViewBag.DisconnectionMonitoringOwner, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-clear-style">&nbsp;</div>
        </div>
    </div>
    <div class="usr-row" style="margin-top:10px;">
        @Html.ServiceTypeCheckButtonList("chklstServiceType", (string)@Resources.QUS012.lblProvidedServiceType, true, (string[])@ViewBag.ProvideServiceType, new { @disabled = "disabled" })
    </div>
    <div class="usr-row usr-row-space">
        <div class="fieldset-table">
            <div class="fieldset-header">
                <span>@Resources.QUS012.lblLinkageSaleContractInformation</span>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblContractCode
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("ContractCode", (string)@ViewBag.ContractCode, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblPlanCode
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("PlanCode", (string)@ViewBag.PlanCode, new { isViewMode = @ViewBag.isViewMode })
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS012.lblSpecialInstallation
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.CommonTextBox("SpecialInstallationFlag", (string)@ViewBag.SpecialInstallationFlag, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.QuotationNo
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("QuotationNo", (string)@ViewBag.QuotationNo, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblPlanner
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("Planner", (string)@ViewBag.Planner, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblPlanChecker
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("PlanChecker", (string)@ViewBag.PlanChecker, new { isViewMode = @ViewBag.isViewMode })
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS012.lblPlanCheckingDate
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.CommonTextBox("PlanCheckingDate", (string)@ViewBag.PlanCheckingDate, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblPlanApprover
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("PlanApprover", (string)@ViewBag.PlanApprover, new { isViewMode = @ViewBag.isViewMode })
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS012.lblPlanApprovingDate
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.CommonTextBox("PlanApprovingDate", (string)@ViewBag.PlanApprovingDate, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS011.lblSiteBuildingArea
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("SiteBuildingArea", (string)@ViewBag.SiteBuildingArea, new { isViewMode = @ViewBag.isViewMode })
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS011.lblSecurityAreaSize
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    <div style="float:left;">@Html.CommonTextBox("SecurityAreaSizeFrom", (string)@ViewBag.SecurityAreaSizeFrom, new { isViewMode = @ViewBag.isViewMode })</div>
                    <div id="divQUS012SecurityAreaFromTo" class="label-unit">-&nbsp;</div>
                    <div style="float:left">@Html.CommonTextBox("SecurityAreaSizeTo", (string)@ViewBag.SecurityAreaSizeTo, new { isViewMode = @ViewBag.isViewMode })</div>
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS012.lblMainStructureType
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("MainStructureType", (string)@ViewBag.MainStructureType, new { isViewMode = @ViewBag.isViewMode })
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS012.lblNewOldBuilding
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.CommonTextBox("NewOldBuilding", (string)@ViewBag.NewOldBuilding, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
                    @Resources.QUS011.lblNewBuildingMgmtType
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
                    @Html.CommonTextBox("NewBldMgmtFlag", (string)@ViewBag.NewBldMgmtFlag, new { isViewMode = @ViewBag.isViewMode, style = "width:" + @ViewBag.ObjectCol1Width + ";" })
                </div>
                <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
                    @Resources.QUS011.lblNewBuildingMgmtCost
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
                    @Html.NumericTextBoxWithMultipleCurrency("NewBldMgmtCost", (string)@ViewBag.NewBldMgmtCost, (string)@ViewBag.NewBldMgmtCostCurrencyType, new { isViewMode = @ViewBag.isViewMode })
                </div>
            </div>
            <div class="usr-clear-style">&nbsp;</div>
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblNoBuilding
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("NoBuilding", (string)@ViewBag.NoBuilding, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblNoFloor
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("NoFloor", (string)@ViewBag.NoFloor, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblMaintenanceCycle
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("MaintenanceCycle", (string)@ViewBag.MaintenanceCycle, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row usr-row-space">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblSaleman1
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("Saleman1", (string)@ViewBag.Saleman1, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblSaleman2
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("Saleman2", (string)@ViewBag.Saleman2, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblSalesSupporter
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("SalesSupporter", (string)@ViewBag.SalesSupporter, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row usr-row-space">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblInsuranceType
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("InsuranceType", (string)@ViewBag.InsuranceType, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblInsuranceCoverageAmount
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            <div style="float:left;">
                @Html.NumericTextBoxWithMultipleCurrency("InsuranceCoverageAmount", (string)@ViewBag.InsuranceCoverageAmount, (string)@ViewBag.InsuranceCoverageAmountCurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblMonthlyInsuranceFee
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            <div style="float:left;">
                @Html.NumericTextBoxWithMultipleCurrency("MonthlyInsuranceFee", (string)@ViewBag.MonthlyInsuranceFee, (string)@ViewBag.MonthlyInsuranceFeeCurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblOutsourcingFee
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            <div style="float:left;">
                @Html.NumericTextBoxWithMultipleCurrency("OutsourcingFee", (string)@ViewBag.OutsourcingFee, (string)@ViewBag.OutsourcingFeeCurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblAdditionalContractFee1
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            <div style="float:left;">
                @Html.NumericTextBoxWithMultipleCurrency("AdditionalContractFee1", (string)@ViewBag.AdditionalContractFee1, (string)@ViewBag.AdditionalContractFee1CurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblAdditionalApproveNo1
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("AdditionalApproveNo1", (string)@ViewBag.AdditionalApproveNo1, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblAdditionalContractFee2
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            <div style="float:left">
                @Html.NumericTextBoxWithMultipleCurrency("AdditionalContractFee2", (string)@ViewBag.AdditionalContractFee2, (string)@ViewBag.AdditionalContractFee2CurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblAdditionalApproveNo2
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("AdditionalApproveNo2", (string)@ViewBag.AdditionalApproveNo2, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblAdditionalContractFee3
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            <div style="float:left;">
                @Html.NumericTextBoxWithMultipleCurrency("AdditionalContractFee3", (string)@ViewBag.AdditionalContractFee3, (string)@ViewBag.AdditionalContractFee3CurrencyType, new { isViewMode = @ViewBag.isViewMode })
            </div>
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblAdditionalApproveNo3
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("AdditionalApproveNo3", (string)@ViewBag.AdditionalApproveNo3, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row usr-row-space">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblApproveNo1
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ApproveNo1", (string)@ViewBag.ApproveNo1, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblApproveNo2
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("ApproveNo2", (string)@ViewBag.ApproveNo2, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblApproveNo3
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ApproveNo3", (string)@ViewBag.ApproveNo3, new { isViewMode = @ViewBag.isViewMode })
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">
            @Resources.QUS012.lblApproveNo4
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol2Width;">
            @Html.CommonTextBox("ApproveNo4", (string)@ViewBag.ApproveNo4, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            @Resources.QUS012.lblApproveNo5
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectCol1Width;">
            @Html.CommonTextBox("ApproveNo5", (string)@ViewBag.ApproveNo5, new { isViewMode = @ViewBag.isViewMode })
        </div>
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>