@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;

<div  class="sub-table">
<div class="table-sub-header">@Resources.CMS190.lblSection_Last_Sale_contract_digest_information</div>
    <div style="float: right; margin: -20px 5px 0 0; background-color:@ViewBag.BG2" >

        <div>@Html.Raw(Html.ContractsSameSiteLinkList("contractSameSiteList", @Resources.CMS130.lblContracts_of_the_same_site, (string)@ViewBag.SiteCodeList, false, new { width = @ViewBag.AramWidth, height = "120px;" }, (string)@ViewBag.ContractCode))</div>

    </div>

     <!----- ============================================================================================================================== --->
     <div style="float: left; width:@ViewBag.merge2 ; background-color:@ViewBag.BG2 ">
       <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblProduct
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtProduct", (string)@ViewBag.txtProduct, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblSale_type
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtSale_type", (string)@ViewBag.txtSale_type, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>

      <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblProductPrice
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                <div style="float:left;">@Html.CommonTextBox("txtProduct_Price", (string)@ViewBag.txtProduct_Price, new { isViewMode = @ViewBag.isViewMode }) </div>
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblProcess_management_status
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtProcess_management_status", (string)@ViewBag.txtProcess_management_status, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>
         <div class="usr-row" style="width:@ViewBag.merge2;">
             <div class="usr-label" style="width:@ViewBag.lbWidth;">
                 @Resources.CMS190.lblInstallationFee
             </div>
             <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                 <div style="float:left;">@Html.CommonTextBox("txtInstallation_Fee", (string)@ViewBag.txtInstallation_Fee, new { isViewMode = @ViewBag.isViewMode }) </div>
             </div>
         </div>

      <!-- ========================================================= space ========================================================= -->
       <div class="usr-row" style="height:10px">&nbsp;</div>
      <!-- ========================================================= space ========================================================= -->

      <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblLast_operation_date
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtLast_operation_date", (string)@ViewBag.txtLast_operation_date, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblProcessing_installation
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtProcessing_installation", (string)@ViewBag.txtProcessing_installation, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>

      <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblLast_change_type
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtLast_change_type", (string)@ViewBag.txtLast_change_type, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblProcessing_installation_status
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtProcessing_installation_status", (string)@ViewBag.txtProcessing_installation_status, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>


    
     <!-- ========================================================= space ========================================================= -->
       <div class="usr-row" style="height:10px">&nbsp;</div>
     <!-- ========================================================= space ========================================================= -->

      <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblApprove_date
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtApprove_date", (string)@ViewBag.txtApprove_date, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblSalesman1
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtSalesman1", (string)@ViewBag.txtSalesman1, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>

       <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblInstrument_stock_out_date
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtInstrument_stock_out_date", (string)@ViewBag.txtInstrument_stock_out_date, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblContract_office
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtContract_office", (string)@ViewBag.txtContract_office, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>

       <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblComplete_installation_date
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtComplete_installation_date", (string)@ViewBag.txtComplete_installation_date, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblSales_office
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtSales_office", (string)@ViewBag.txtSales_office, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>

       <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblCustomer_acceptance_date
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtCustomer_acceptance_date", (string)@ViewBag.txtCustomer_acceptance_date, new { isViewMode = @ViewBag.isViewMode })
            </div>
            <div class="usr-label" style="width:@ViewBag.lb2Width;">
                @Resources.CMS190.lblOperation_office
            </div>
            <div class="usr-object" style="width:@ViewBag.shortTextPrdInfo; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonTextBox("txtOperation_office", (string)@ViewBag.txtOperation_office, new { isViewMode = @ViewBag.isViewMode })
            </div>
      </div>

      <!-- ========================================================= space ========================================================= -->
       <div class="usr-row" style="height:10px">&nbsp;</div>
      <!-- ========================================================= space ========================================================= -->


      <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblMaintenance_contract_code
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                @Html.CommonLink("lnkMaintenance_contract_code", (string)@ViewBag.lnkMaintenance_contract_code)&nbsp;
            </div>
      </div>

      <div class="usr-row" style="width:@ViewBag.merge2;">
            <div class="usr-label" style="width:@ViewBag.lbWidth;">
                @Resources.CMS190.lblOnline_contract_code
            </div>
            <div class="usr-object" style="width:@ViewBag.shortText; background-color:@ViewBag.txtBackgroundColor;">
                 @Html.CommonLink("lnkOnline_contract_code", (string)@ViewBag.lnkOnline_contract_code)&nbsp;
            </div>
      </div>


     </div>


  <div class="usr-clear-style"> &nbsp;</div>
</div>

