@using SECOM_AJIS.Common.Helpers
@using SECOM_AJIS.Presentation.Common.Helpers
@using SECOM_AJIS.Presentation.Contract.Helpers
@using SECOM_AJIS.Presentation.Master.Helpers
@{
    Layout = "";

    ViewBag.LabelCol1Width = "220px";
    ViewBag.LabelCol2Width = "120px";
    ViewBag.LabelCol3Width = "130px";
    ViewBag.ObjectCol1Width = "130px";
    ViewBag.ObjectCol2Width = "280px";
    ViewBag.ObjectCol3Width = "110px";
    ViewBag.ObjectColMergeWidth = "720px";
    ViewBag.ObjectColMergeWidthWithReq = "710px";

    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
}

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS350.lblARType</div>
        <div class="usr-object" style="margin-left:0px;" id="divARType">
            @Html.ARTypeComboBox("ARType", new { style = "width: " + @ViewBag.ObjectCol2Width + ";" })
            @Html.RequireFiled()
        </div>
        <div class="usr-label" style="width:@ViewBag.LabelCol2Width;">&nbsp;</div>
        <div class="usr-object" style="margin-left:0px;">
            @Html.CommonCheckButton("ImportanceFlag", @Resources.CTS350.lblImportanceFlag, "1", false, null)
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS350.lblARTitle</div>
        <div class="usr-object" style="margin-left:0px;" id="divARTitle">
            @Html.BlankComboBox("ARTitle", new { style = "width: 715px;" })
            @Html.RequireFiled()
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS350.lblARSubTitle</div>
        <div class="usr-object" style="margin-left:0px; width:730px;">
            @Html.CommonTextBox("ARSubTitle", null, new { style = "width: " + @ViewBag.ObjectColMergeWidthWithReq + ";", @maxlength = "500" })
            @Html.RequireFiled()
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS350.lblARPurpose</div>
        <div class="usr-object" style="margin-left:0px; width:730px;">
            @Html.CommonTextArea("ARPurpose", null, new { style = "width: " + @ViewBag.ObjectColMergeWidthWithReq + "; height: 200px;", @maxlength = "10000" })
            @Html.RequireFiled()
        </div>
    </div>

    <div class="usr-row" id="divFeeGrid1">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">&nbsp;</div>
        <div class="usr-object" style="margin-left:0px;">
            <div style="font-weight: bold;">@Resources.CTS350.lblAlarmMaintenSentryFee</div>
            <div id="AlarmMaintenSentryFeeGrid" style="width:790px;">
                <div style="width: 100%; height: auto; cursor: default;">
                    <div class="custom-table" style="position: relative; width: 100%; overflow: hidden;">
                        <table style="width: 100%; padding-right: 20px; table-layout: fixed; margin-right: 20px;" cellspacing="0" cellpadding="0">
                            <tr class="hdr">
                                <td style="width:145px;" />
                                <td style="width:205px;">@Resources.CTS350.headerQuotation</td>
                                <td style="width:205px;">@Resources.CTS350.headerAROrder</td>
                                <td style="width:230px;">@Resources.CTS350.headerOCDC</td>
                            </tr>
                            <tr>
                                <td>@Resources.CTS350.lblContractFee</td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("ContractQuotationFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("ContractARFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    <div class="usr-label" style="width: 110px; text-align:left;">
                                        <span id="spResContractFee"></span>
                                    </div>
                                    <div class="usr-object" style="width:75px;">
                                        @Html.CommonTextBox("ContractOCDCRate", "", new { style = "text-align:right; width:70px;", @readonly = true })
                                    </div>
                                    <div class="usr-label" style="width: 20px;">%</div>
                                </td>
                            </tr>
                            <tr>
                                <td>@Resources.CTS350.lblInstallationFee</td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("InstallQuotationFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("InstallARFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    <div class="usr-label" style="width: 110px; text-align:left;">
                                        <span id="spResInstallFee"></span>
                                    </div>
                                    <div class="usr-object" style="width:75px;">
                                        @Html.CommonTextBox("InstallOCDCRate", "", new { style = "text-align:right; width:70px;", @readonly = true })
                                    </div>
                                    <div class="usr-label" style="width: 20px;">%</div>
                                </td>
                            </tr>
                            <tr>
                                <td>@Resources.CTS350.lblDepositFee</td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("DepositQuotationFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("DepositARFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    <div class="usr-label" style="width: 110px; text-align:left;">
                                        <span id="spResDepositFee"></span>
                                    </div>
                                    <div class="usr-object" style="width:75px;">
                                        @Html.CommonTextBox("DepositOCDCRate", "", new { style = "text-align:right; width:70px;", @readonly = true })
                                    </div>
                                    <div class="usr-label" style="width: 20px;">%</div>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="usr-row" id="divFeeGrid2">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">&nbsp;</div>
        <div class="usr-object" style="margin-left:0px;">
            <div style="font-weight: bold;">@Resources.CTS350.lblSaleFee</div>
            <div id="SaleGrid" style="width:790px;">
                <div style="width: 100%; height: auto; cursor: default;">
                    <div class="custom-table" style="position: relative; width: 100%; overflow: hidden;">
                        <table style="width: 100%; padding-right: 20px; table-layout: fixed; margin-right: 20px;" cellspacing="0" cellpadding="0">
                            <tr class="hdr">
                                <td style="width:145px;" />
                                <td style="width:205px;">@Resources.CTS350.headerQuotation</td>
                                <td style="width:205px;">@Resources.CTS350.headerAROrder</td>
                                <td style="width:230px;">@Resources.CTS350.headerOCDC</td>
                            </tr>
                            <tr>
                                <td>@Resources.CTS350.lblProductPrice1</td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("ProductPriceQuotationFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("ProductPriceARFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    <div class="usr-label" style="width: 110px; text-align:left;">
                                        <span id="spResProductPrice1"></span>
                                    </div>
                                    <div class="usr-object" style="width:75px;">
                                        @Html.CommonTextBox("ProductPriceOCDCRate", "", new { style = "text-align:right; width:70px;", @readonly = true })
                                    </div>
                                    <div class="usr-label" style="width: 20px;">%</div>
                                </td>
                            </tr>
                            <tr>
                                <td>@Resources.CTS350.lblInstallFee2</td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("InstallFeeQuotationFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    @Html.NumericTextBoxWithMultipleCurrency("InstallFeeARFee", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" })
                                </td>
                                <td>
                                    <div class="usr-label" style="width: 110px; text-align:left;">
                                        <span id="spResInstallFee2"></span>
                                    </div>
                                    <div class="usr-object" style="width:75px;">
                                        @Html.CommonTextBox("InstallFeeOCDCRate", "", new { style = "text-align:right; width:70px;", @readonly = true })
                                    </div>
                                    <div class="usr-label" style="width: 20px;">%</div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">&nbsp;</div>
    </div>

@*    <div class="usr-row usr-row-space" id="divDueDate">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">@Resources.CTS350.lblDueDate_DeadLine&nbsp;@Html.RequireFiled()</div>
        <div class="usr-object" style="width:80px">
           @Html.CommonRadioButton("rdoDueDate", (string)@Resources.CTS350.rdoDueDate, "1", true, "DueDate_DeadLine") 
        </div>
        <div class="usr-object" style="margin-left:10px; width: 160px;" >
            @Html.CommonTextBox("DueDate_Date", (string)@ViewBag.DueDate, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
        </div>
        <div class="usr-label">
            @Html.LabelDateFormat("DueDate_Date")
        </div>
        <div class="usr-label" style="width:40px;">@Resources.CTS350.lblTime</div>
        <div class="usr-object" style="width:160px;">
           @Html.CommonTextBox("DueDate_Time", null, new { style = "width:154px;" })
        </div>
    </div>

    <div class="usr-row usr-row-space" id="divDeadLine">
        <div class="usr-label" style="width:@ViewBag.LabelCol1Width;">
            <div id="divAttachRemark" style="font-size: 0.8em; color: rgb(119, 119, 119);">@Resources.CTS350.lblPleaseSetDue</div>
        </div>
        <div class="usr-object" style="width:80px">
           @Html.CommonRadioButton("rdoDeadLine", (string)@Resources.CTS350.rdoDeadLine, "2", true, "DueDate_DeadLine") 
        </div>
        <div class="usr-object" style="margin-left:10px; width: 160px;">
            @Html.CommonTextBox("Deadline_Date", null, new { style = "width:" + @ViewBag.ObjectCol1Width + ";" })
        </div>
        <div class="usr-label">
            @Html.LabelDateFormat("Deadline_Date")
        </div>
        <div class="usr-label" style="width:40px;">@Resources.CTS350.lblUntil</div>
        <div class="usr-object" style="width:160px;">
           @Html.DeadLineTimeTypeComboBox("Deadline_Until", new { style = "width:158px;" })
        </div>
    </div>*@