@using SECOM_AJIS.Common.Helpers
@using SECOM_AJIS.Presentation.Contract.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@{
    ViewBag.LabelWidth = "220px";
    ViewBag.RightLabelWidth = "355px";
    ViewBag.SubLabelWidth = "215px";
    ViewBag.SubRightLabelWidth = "235px";
    ViewBag.TotalLabelWidth = "280px";
    
    ViewBag.ObjectWidth = "180px";
    ViewBag.ObjectComboWidth = "184px";
    ViewBag.RightObjectWidth = "180px";
    ViewBag.ObjectFeeWidth = "145px";
    ViewBag.ObjectColMergeWidth = "720px";
}

<script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS180/CTS180_05.js")" ></script>

<div class="table-header">
        <div id="divCancelContractMemo" class="main-table" style="display:none">
            <div class="table-header">
                <div class="usr-label">
                    @Resources.CTS180.lblTitleCancelContractMemo
                </div>                                  
            </div>

            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblContractCode
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectWidth;">
                    @Html.CommonTextBox("CC_ContractCodeShort", null, new { style = "width:" + @ViewBag.ObjectWidth + ";", @readonly = "readonly" })
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblContractTargetName
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                    @Html.CommonTextBox("CC_ContractTargetName", null, new { style = "width:" + @ViewBag.ObjectColMergeWidth + ";", maxlength = "200", @readonly = "readonly" })
                </div>                   
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblStartServiceDate
                </div>
                <div class="usr-object">
                    <div class="object-unit">
                        @Html.CommonTextBox("CC_StartServiceDate", null, new { style = "width:100px;", maxlength = "15" })
                    </div>
                    @Html.LabelDateFormat("CC_StartServiceDate")
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblCancelDate
                </div>
                <div class="usr-object">
                    <div class="object-unit">
                        @Html.CommonTextBox("CC_CancelDate", null, new { style = "width:100px;", maxlength = "15" })
                    </div>
                    @Html.LabelDateFormat("CC_CancelDate")
                </div>
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblRealCustomerName
                </div>
                <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                    @Html.CommonTextBox("CC_RealCustomerName", null, new { style = "width:" + @ViewBag.ObjectColMergeWidth + ";", maxlength = "200" })
                </div>                    
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblSiteNameEN
                </div> 
                <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                    @Html.CommonTextBox("CC_SiteNameEN", null, new { style = "width:" + @ViewBag.ObjectColMergeWidth + ";", maxlength = "200" })
                </div>            
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblSiteNameLC
                </div> 
                <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                    @Html.CommonTextBox("CC_SiteNameLC", null, new { style = "width:" + @ViewBag.ObjectColMergeWidth + ";", maxlength = "200" })
                </div>            
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                    @Resources.CTS180.lblSiteAddress
                </div> 
                <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth;">
                    @Html.CommonTextBox("CC_SiteAddress", null, new { style = "width:" + @ViewBag.ObjectColMergeWidth + ";", maxlength = "255" })
                </div>            
            </div>
            <div class="usr-row" style="height:5px"></div>

            <div id="divConditionCancelCont" class="main-table" >
                <div class="table-header">
                </div>
                <div>
                    <div class="usr-row">
                        <div class="usr-label" style="width:@ViewBag.SubLabelWidth;">
                                @Resources.CTS180.lblFeeType
                        </div> 
                        <div class="usr-object" style = "width:220px;">
                                @Html.FeeTypeCancelContractComboBox("CC_FeeType", new { style = "width:220px;", maxlength = "15" }) 
                                @Html.Hidden("C_BILLING_TYPE_CONTRACT_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_CONTRACT_FEE)
                                @Html.Hidden("C_BILLING_TYPE_MAINTENANCE_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_MAINTENANCE_FEE)
                                @Html.Hidden("C_BILLING_TYPE_OTHER_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_OTHER_FEE)
                                @Html.Hidden("C_BILLING_TYPE_DEPOSIT_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_DEPOSIT_FEE)
                                @Html.Hidden("C_BILLING_TYPE_REMOVAL_INSTALLATION_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_REMOVAL_INSTALLATION_FEE)
                                @Html.Hidden("C_BILLING_TYPE_CANCEL_CONTRACT_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_CANCEL_CONTRACT_FEE)
                                @Html.Hidden("C_BILLING_TYPE_CHANGE_INSTALLATION_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_CHANGE_INSTALLATION_FEE)
                                @Html.Hidden("C_BILLING_TYPE_CARD_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ContractBillingType.C_CONTRACT_BILLING_TYPE_CARD_FEE)
                        </div>   
                        <div class="usr-label" style="width:209px;">
                                @Resources.CTS180.lblHandlingType
                        </div> 
                        <div class="usr-object" style = "width:220px;">
                                @Html.HandlingTypeComboBox("CC_HandlingType", new { style = "width:220px;", maxlength = "15" }) 
                                @Html.Hidden("C_HANDLING_TYPE_BILL_UNPAID_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.HandlingType.C_HANDLING_TYPE_BILL_UNPAID_FEE)
                                @Html.Hidden("C_HANDLING_TYPE_EXEMPT_UNPAID_FEE", (string)@SECOM_AJIS.Common.Util.ConstantValue.HandlingType.C_HANDLING_TYPE_EXEMPT_UNPAID_FEE)
                                @Html.Hidden("C_HANDLING_TYPE_RECEIVE_AS_REVENUE", (string)@SECOM_AJIS.Common.Util.ConstantValue.HandlingType.C_HANDLING_TYPE_RECEIVE_AS_REVENUE)
                                @Html.Hidden("C_HANDLING_TYPE_REFUND", (string)@SECOM_AJIS.Common.Util.ConstantValue.HandlingType.C_HANDLING_TYPE_REFUND)
                                @Html.Hidden("C_HANDLING_TYPE_SLIDE", (string)@SECOM_AJIS.Common.Util.ConstantValue.HandlingType.C_HANDLING_TYPE_SLIDE)
                        </div>           
                    </div>
                    <div id="divFeeTaxCancelCont" class="usr-row">
                        <div class="usr-label" style="width:@ViewBag.SubLabelWidth;">
                                @Resources.CTS180.lblFee
                        </div> 
                        <div class="usr-object">
                            @Html.NumericTextBoxWithMultipleCurrency("CC_Fee", null, null, new { style = "width:140px;" })
                        </div>  
                        <div class="usr-label" style="width:@ViewBag.SubRightLabelWidth;">
                                @Resources.CTS180.lblTax
                        </div> 
                        <div class="usr-object">
                            @Html.NumericTextBoxWithMultipleCurrency("CC_Tax", null, null, new { style = "width:140px;" })
                        </div>
                    </div>
                    <div id="divNormalSlideFeeCancelCont" class="usr-row">
                        <div class="usr-label" style="width:@ViewBag.SubLabelWidth;">
                                @Resources.CTS180.lblNormalFee
                        </div> 
                        <div class="usr-object">
                            @Html.NumericTextBoxWithMultipleCurrency("CC_NormalFee", null, null, new { style = "width:140px;" })
                        </div>
                        <div class="usr-label" style="width:@ViewBag.SubRightLabelWidth;">
                                @Resources.CTS180.lblContractCodeForSlideFee
                        </div> 
                        <div class="usr-object" style = "width:150px;">
                                @Html.CommonTextBox("CC_ContractCodeForSlideFee", null, new { style = "width:190px;", maxlength = CommonValue.C_MAXLENGTH_CONTRACT_CODE })
                        </div> 
                    </div>
                    <div id="divPeriodCancelCont" class="usr-row">
                        <div class="object-unit">
                            <div class="usr-label" style="width:@ViewBag.SubLabelWidth;">
                                    @Resources.CTS180.lblPeriod
                            </div> 
                            <div class="usr-object">
                                    @Html.CommonTextBox("CC_PeriodFrom", null, new { style = "width:100px;", maxlength = "15" })
                            </div>
                            <div class="usr-label">
                                    &nbsp;@Resources.CTS180.lblTo
                            </div>
                            <div class="usr-object">
                                    @Html.CommonTextBox("CC_PeriodTo", null, new { style = "width:100px;", maxlength = "15" })
                            </div>
                        </div>
                        @Html.LabelDateFormat("CC_PeriodTo")                      
                    </div>
                    <div id="divRemarkCancelCont" class="usr-row">
                        <div class="usr-label" style="width:@ViewBag.SubLabelWidth;">
                                @Resources.CTS180.lblRemark
                        </div> 
                        <div class="usr-object" style="width:645px;">
                                @Html.CommonTextArea("CC_Remark", null, new { style = "width:645px; height:50px; overflow:auto", maxlength = "100" })
                        </div>     
                    </div>
                    <div class="usr-row"></div>
                </div>
            </div>
            
            <div class="usr-row">
                <div class="usr-label" style="width:650px;">&nbsp;</div>  
                <div class="usr-object">
                        @Html.CommonButton("CC_Add", @Resources.CTS110.lblAdd, new { style = "width:80px;", type = "button" }) 
                </div>    
                <div class="usr-label" style="width:1px;">&nbsp;</div> 
                <div class="usr-object">
                        @Html.CommonButton("CC_Cancel", @Resources.CTS110.lblCancel, new { style = "width:80px;", type = "button" }) 
                </div>                                
            </div>  
            <div class="usr-row" style="height:5px"></div>

            <div class="usr-row" id="gridCancelContractMemo" style="width: 99%; margin-left: 5px;"></div>
            <div class="usr-row" style="height:5px"></div>

            <div id="divConditionMemoCancelCont" class="usr-row">
                <div class="usr-object custom-table">
                    <table cellpadding="0" cellspacing="0">
                        <tr class="hdr">
                            <td style="width:300px;">&nbsp;</td>
                            <td style="width:185px;">@Resources.CTS180.headerCurrencyLocal</td>
                            <td style="width:185px;">@Resources.CTS180.headerCurrencyUsd</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">@Resources.CTS180.lblTotalSlideAmount</td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalSlideAmt", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalSlideAmtUsd", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_US, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">@Resources.CTS180.lblTotalRefundAmount</td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalReturnAmt", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalReturnAmtUsd", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_US, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">@Resources.CTS180.lblTotalBillingAmount</td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalBillingAmt", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalBillingAmtUsd", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_US, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">@Resources.CTS180.lblTotalCounterBalAmount</td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalAmtAfterCounterBalance", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                            <td>
                                @Html.NumericTextBoxWithMultipleCurrency("CC_TotalAmtAfterCounterBalanceUsd", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_US, new { style = "width:140px;", @readonly = true }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: top;text-align:right;">@Resources.CTS180.lblSelectProcessAfterCounterBal</td>
                            <td style="vertical-align: top;">
                                @Html.Hidden("C_PROC_AFT_COUNTER_BALANCE_TYPE_BILL", (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_BILL)
                                @Html.Hidden("C_PROC_AFT_COUNTER_BALANCE_TYPE_EXEMPT", (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_EXEMPT)
                                @Html.Hidden("C_PROC_AFT_COUNTER_BALANCE_TYPE_REFUND", (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_REFUND)
                                @Html.Hidden("C_PROC_AFT_COUNTER_BALANCE_TYPE_RECEIVE", (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_RECEIVE)

                                <div id="divProcessCounterBalance" class="usr-row">
                                    <ul>
                                        <li class="r-type1">@Html.CommonRadioButton("CC_Bill", @Resources.CTS110.lblBill, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_BILL, false, "SelectProcessAfterCounterBal")</li>
                                        <li class="r-type2">@Html.CommonRadioButton("CC_Exempt", @Resources.CTS110.lblExempt, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_EXEMPT, false, "SelectProcessAfterCounterBal")</li>
                                        <li class="r-type3">@Html.CommonRadioButton("CC_Refund", @Resources.CTS110.lblRefund, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_REFUND, false, "SelectProcessAfterCounterBal")</li>
                                        <li class="r-type4">@Html.CommonRadioButton("CC_ReceiveAsRevenue", @Resources.CTS110.lblReceiveAsRevenue, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_RECEIVE, false, "SelectProcessAfterCounterBal")</li>
                                    </ul>
                                </div>
                            </td>
                            <td style="vertical-align: top;">
                                <div id="divProcessCounterBalanceUsd" class="usr-row">
                                    <ul>
                                        <li class="r-type1">@Html.CommonRadioButton("CC_BillUsd", @Resources.CTS110.lblBill, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_BILL, false, "SelectProcessAfterCounterBalUsd")</li>
                                        <li class="r-type2">@Html.CommonRadioButton("CC_ExemptUsd", @Resources.CTS110.lblExempt, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_EXEMPT, false, "SelectProcessAfterCounterBalUsd")</li>
                                        <li class="r-type3">@Html.CommonRadioButton("CC_RefundUsd", @Resources.CTS110.lblRefund, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_REFUND, false, "SelectProcessAfterCounterBalUsd")</li>
                                        <li class="r-type4">@Html.CommonRadioButton("CC_ReceiveAsRevenueUsd", @Resources.CTS110.lblReceiveAsRevenue, (string)@SECOM_AJIS.Common.Util.ConstantValue.ProcAfterCounterBalanceType.C_PROC_AFT_COUNTER_BALANCE_TYPE_RECEIVE, false, "SelectProcessAfterCounterBalUsd")</li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">@Resources.CTS180.lblBankTransferBilling</td>
                            <td>
                                <div id="divBankTransferBillingCancelCont" class="usr-row">
                                    @Html.CommonRadioButton("CC_BankNone", @Resources.CTS180.lblNone, (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_NONE, false, "BankTransferBilling")
                                    @Html.Hidden("C_BANK_TRANSFER_BILLING_TYPE_NONE", (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_NONE)

                                    @Html.CommonRadioButton("CC_BankAll", @Resources.CTS180.lblAll, (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_ALL, false, "BankTransferBilling")
                                    @Html.Hidden("C_BANK_TRANSFER_BILLING_TYPE_ALL", (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_ALL)

                                    @Html.CommonRadioButton("CC_BankPartial", @Resources.CTS180.lblPartial, (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_PARTIAL, false, "BankTransferBilling")
                                    @Html.Hidden("C_BANK_TRANSFER_BILLING_TYPE_PARTIAL", (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_PARTIAL)
                                </div>
                            </td>
                            <td>
                                <div id="divBankTransferBillingCancelContUsd" class="usr-row">
                                    @Html.CommonRadioButton("CC_BankNoneUsd", @Resources.CTS180.lblNone, (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_NONE, false, "BankTransferBillingUsd")
                                    @Html.CommonRadioButton("CC_BankAllUsd", @Resources.CTS180.lblAll, (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_ALL, false, "BankTransferBillingUsd")
                                    @Html.CommonRadioButton("CC_BankPartialUsd", @Resources.CTS180.lblPartial, (string)@SECOM_AJIS.Common.Util.ConstantValue.BankTransferBillingType.C_BANK_TRANSFER_BILLING_TYPE_PARTIAL, false, "BankTransferBillingUsd")
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;">@Resources.CTS180.lblBankTransferBillingAmount</td>
                            <td>
                                <div class="usr-row">
                                    @Html.NumericTextBoxWithMultipleCurrency("CC_BankTransferBillingAmount", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_LOCAL, new { style = "width:140px;" }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                                </div>
                            </td>
                            <td>
                                <div class="usr-row">
                                    @Html.NumericTextBoxWithMultipleCurrency("CC_BankTransferBillingAmountUsd", null, SECOM_AJIS.Common.Util.ConstantValue.CurrencyUtil.C_CURRENCY_US, new { style = "width:140px;" }, SECOM_AJIS.Presentation.Common.Helpers.TextBoxHelper.MULTIPLE_CURRENCY_TYPE.LABEL)
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="usr-label">&nbsp;</div>
                <div class="usr-object">
                    <div class="sub-table" style="border-width:0px; width: 410px">
                        <div class="usr-row">
                            <div class="usr-label" style="width: 110px;">
                                @Resources.CTS180.lblOtherRemarks
                            </div>
                            <div class="usr-object" style="width:285px;">
                                @Html.CommonTextArea("CC_OtherRemarks", null, new { style = "width:285px;height:120px; overflow:auto", maxlength = "1600" })
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            

            

            <div class="usr-row" style="height:5px"></div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.TotalLabelWidth;">
                    @Resources.CTS180.lblCustomerSignatureName
                </div>
                <div class="usr-object" style = "width:370px;">
                    @Html.CommonTextBox("CC_CustomerSignatureName", null, new { style = "width:370px;", maxlength = "150" })
                </div>
            </div>
            <div class="usr-row" style="height:10px"></div>

            <div id="divSecomSignatureCancelCont" class="main-table" >
                <div class="table-header">
                    <div class="usr-label">
                        @Resources.CTS180.lblTitleSecomSignature
                    </div> 
                </div>
                <div>
                    <div class="usr-row">
                        <div class="usr-label"  style="width: 150px;">
                                @Resources.CTS180.lblUseSignaturePicture
                        </div>
                        <div class="usr-object">
                                @Html.CommonCheckButton("CC_UseSignaturePicture", null, null, false)
                        </div>    
                        <div class="usr-label"  style="width: 235px;">
                                @Resources.CTS180.lblEmployeeName
                        </div> 
                        <div class="usr-object" style="width:@ViewBag.ObjectWidth;">
                                @Html.CommonTextBox("CC_EmployeeName", null, new { style = "width:" + @ViewBag.ObjectWidth + ";", maxlength = "100" })
                        </div>  
                        <div class="usr-label" style="width: 150px;">
                                @Resources.CTS180.lblEmployeePosition
                        </div> 
                        <div class="usr-object" style="width:@ViewBag.ObjectWidth;">
                                @Html.CommonTextBox("CC_EmployeePosition", null, new { style = "width:" + @ViewBag.ObjectWidth + ";", maxlength = "100" })
                        </div>                   
                    </div>
                    <div class="usr-row"></div>
                </div>
            </div>

            <div class="usr-row"></div>
        </div>
</div>    

