@using SECOM_AJIS.Presentation.Common.Helpers;
@using SECOM_AJIS.Common.Helpers;

<div id="divProjectIncident" class="main-table" style="margin-top:5px;">
    <div class="table-header">@Resources.CTS320.lblProjectCodeIncident</div>
    <div class="usr-row">
        <div class="usr-label" style="width:100px;">@Resources.CTS320.lblIncidentType</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.IncidentTypeComboBoxCTS320("cbbPIIncidentType", new { style = "width:300px;" })
        </div>
        <div class="usr-label" style="width:140px;">@Resources.CTS320.lblDueDate</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.IncidentDueDate_DeadLineComboBoxCTS320("cbbPIDueDate", new { style = "width:120px;" })
        </div>
        <div class="usr-label" style="width:100px;">@Resources.CTS320.lblStatus</div>
        <div class="usr-object" style="margin-right:5px;">
            @Html.IncidentSearchStatusComboBox("cbbPIStatus", new { style = "width:120px;" })
        </div>
    </div>
    <div class="usr-row">&nbsp;</div>
    <div class="usr-row">
        <div class="usr-label" style="text-align: left;">@Resources.CTS320.lblIncidentOfProject <span id="spPICode">XXX</span> : <span id="spPIName">YYY</span></div>
        <div style="text-align:right;">
            @Html.CommonButton("btnPIRetrieve", @Resources.CTS320.btnRetrieve, new { style = "vertical-align: middle;", @type = "button" })
        </div>
    </div>
    <div class="usr-row">
        <div id="gridPIMain"></div>
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>