@section page_header{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/FlowMenu.js")"></script>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/flow/flow.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/flow/images/cms022/flow_cms022.css")" />
}
@Html.Partial("_FlowMenuCondition")
@Html.Partial("CMS022/_CMS022_02")
<div id="dlgBox" class="main-popup-dialog">
    <div class="popup-dialog"></div>
</div>