@using SECOM_AJIS.DataEntity.Common;
@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Master.Helpers;
@using SECOM_AJIS.Presentation.Common.Controllers;
@using SECOM_AJIS.Common.Util.ConstantValue;
@{
    
    ViewBag.lbWidth = "220px";  /* ViewBag.LabelWidth */
    ViewBag.lb2Width = "150px";
    ViewBag.lb3Width = "120px";

    ViewBag.headText = "120px";

    ViewBag.shortText = "200px";
    ViewBag.longText = "525px";

    ViewBag.shortTextPrdInfo1 = "150px";
    ViewBag.shortTextPrdInfo2 = "160px";  // 200px
    
    ViewBag.RightBtnSet = "185px";

    ViewBag.ViewClass = "label-view";
    ViewBag.isViewMode = true;

    ViewBag.merge = "750px";
    ViewBag.merge2 = "740px";
    ViewBag.AramWidth = "210px";

    /* for debug */
    ViewBag.txtBackgroundColor = "None"; /*Lime*/

    /* for debug */
    ViewBag.isShowAll = false;
    




    /* enable button in herder section*/
    ViewBag.EnableContractBasic = false;
    //ViewBag.EnableSecurityBasic = false;
    //ViewBag.EnableSecurityDetail = false;
    ViewBag.EnableHistoryDigest = true;
    ViewBag.EnableSalesContractBasic = false;
    ViewBag.EnableContractBillingTransfer = true;


    
    ViewBag.EnableInstallation = true;

    
    ViewBag.EnableBillingBasic = true;
    

    
 }

@section page_header{


<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcommon.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgrid.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgridcell.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_data.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_pgn.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/excells/dhtmlxgrid_excell_dhxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxcalendar.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Base/GridControl.js")"></script>
<script type="text/javascript" src="@Url.Content("~/Scripts/Common/CMS160.js")"></script>

<script src="../../Scripts/Common/Dialog.js" type="text/javascript"></script>
<script src="../../Scripts/Quotation/Dialog.js" type="text/javascript"></script>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/dhtmlxgrid.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/skins/dhtmlxgrid_dhx_secom.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/js/dhtmlxgrid/ext/dhtmlxgrid_pgn_bricks.css")"/>

<script type="text/javascript">
    var mycond_cms160 =
    {
        ContractCode: "@ViewBag._ContractCode",
        OCC: "@ViewBag._OCC" ,
        PurchaserCustCode: "@ViewBag._PurchaserCustCode",
        RealCustomerCode: "@ViewBag._RealCustomerCode",
        SiteCode : "@ViewBag._SiteCode" ,

        QuotationTargetCode: "@ViewBag._QuotationTargetCode",
        Alphabet: "@ViewBag._Alphabet",
        DistributedOriginCode: "@ViewBag._DistributedOriginCode",
        ConnectionContractCode: "@ViewBag._ConnectionContractCode",
        OnlineContractCode: "@ViewBag._OnlineContractCode" ,
        InstallationSlipNo: "@ViewBag._InstallationSlipNo" ,
        ServiceTypeCode : "@ViewBag._ServiceTypeCode",

        txtAttachImportanceFlag: "@ViewBag.txtAttachImportanceFlag" == "True" ? true : false,
        txtBICContractCode: "@ViewBag.txtBICContractCode" 
    };

  

</script>


}


<!-- Html content --->

<div style="display:none">
    @Html.Hidden("C_INCIDENT_RELEVANT_TYPE_CONTRACT", IncidentRelevant.C_INCIDENT_RELEVANT_TYPE_CONTRACT)
    @Html.Hidden("C_AR_RELEVANT_TYPE_CONTRACT", ARRelevant.C_AR_RELEVANT_TYPE_CONTRACT)
</div>

<div id="divAll">

<div id="dlgCMS160" class="main-popup-dialog">
    <div class="popup-dialog"></div>
</div>

@Html.Partial("_ButtonControl")
@Html.Partial("CMS160/_CMS160_1")

@if (
        (
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_NEW_SALE ||
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_ADD_SALE ||
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_CANCEL
        )
        || (bool)ViewBag.isShowAll 
    )
{
    @Html.Partial("CMS160/_CMS160_2")
    @Html.Partial("CMS160/_CMS160_3")
}


@if ((bool)ViewBag.isShowMaintenanceContract == true || (bool)ViewBag.isShowAll)
{
    @Html.Partial("CMS160/_CMS160_4")
}


@if ( (
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_EXCHANGE_INSTR ||
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_MOVE_INSTR ||
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_REMOVE_INSTR_PARTIAL ||
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_REMOVE_INSTR_ALL ||
         (string)ViewBag.ChangeType == SaleChangeType.C_SALE_CHANGE_TYPE_CHANGE_WIRING
       )
       || (bool)ViewBag.isShowAll
    )
{
    @Html.Partial("CMS160/_CMS160_5")
}


@if ((string)ViewBag.ChangeType != SaleChangeType.C_SALE_CHANGE_TYPE_CHANGE_NAME || (bool)ViewBag.isShowAll)
{
    @Html.Partial("CMS160/_CMS160_6")
}

</div>