@using SECOM_AJIS.Common.Helpers;
@using SECOM_AJIS.Presentation.Contract.Helpers;
@using SECOM_AJIS.Presentation.Common.Helpers;
@{
    ViewBag.LabelWidth = "220px";
    ViewBag.RightLabelWidth = "220px";
    ViewBag.ObjectWidth = "160px";
    ViewBag.RightObjectWidth = "180px";
}

@section page_header{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Base/DateTimePicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Base/ComboBox.js")"></script>
    @*<script type="text/javascript" src="@Url.Content("~/Scripts/Base/Master.js")"></script>*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS090.js")"></script>
}

 <div class="table-header">
   <form id="CTS090_Search" action='#' >
        @Html.Partial("_SaleContractBasicInformation")

        <div id="divCancelSaleContract" class="main-table" >
            <div class="table-header">
                    <div class="usr-label">
                        @Resources.CTS090.lblTitleCancelSaleContact
                    </div>                                  
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                        @Resources.CTS090.lblCancelDate
                </div> 
                <div class="usr-object">
                    <div class="object-unit">
                        @Html.CommonTextBox("dpCancelDate", null, new { style = "width:100px;", maxlength = "15" })
                        @Html.Hidden("CurrentDate", (DateTime)@ViewBag.CurrentDate)
                    </div>
                    @Html.LabelDateFormat("dpCancelDate")
                    &nbsp;@Html.RequireFiled()
                </div>

                <div class="usr-label" style="width:140px;">
                        @Resources.CTS090.lblCancelReason
                </div> 
                <div class="usr-object" style="width:360px;">
                        @Html.StopCancelReasonComboBox("ddlCancelReason", new { style = "width:345px;", maxlength = "15" }) 
                        @Html.RequireFiled() 
                </div>                   
            </div>
            <div class="usr-row">
                <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                        @Resources.CTS090.lblApproveNo
                </div> 
                <div class="usr-object">
                        @Html.CommonTextBox("txtApproveNo", null, new { style = "width:150px;", maxlength = "15" })
                        @Html.RequireFiled()
                </div>    
            </div>
            <div class="usr-row"></div>
        </div>

        <div class="usr-row" style="height: 5px"></div>
    </form>
</div>    

