@using SECOM_AJIS.Common.Helpers;
@{
    ViewBag.LabelCol1Width = "250px";
    ViewBag.LabelCol2Width = "120px";
    ViewBag.LabelCol3Width = "130px";
    ViewBag.ObjectCol1Width = "181px";
    ViewBag.ObjectCol2Width = "220px";
    ViewBag.ObjectCol12_SWidth = "369px";
    ViewBag.ObjectCol3Width = "110px";
    ViewBag.ObjectColMerge12Width = "280px";
    ViewBag.ObjectColMergeWidth = "720px";
    
    ViewBag.ObjectColCustNameWidth = "200px";
    
    ViewBag.SubTableWidth = "550px";
    ViewBag.SubLabelCol1Width = "120px";
}
@section page_header{
    <script type="text/javascript" src="@Url.Content("~/Scripts/Base/DateTimePicker.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Common/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Master/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Quotation/Dialog.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS020.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS020/CTS020_01.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Contract/CTS020/CTS020_02.js")"></script>
}
<div style="display:none;">
    @Html.Hidden("ScreenMode", (int)@ViewBag.ScreenMode);
    @Html.Hidden("ApproveQuotationTargetCode", (string)@ViewBag.QuotationTargetCode)
    @Html.Hidden("C_SERVICE_TYPE_SALE", SECOM_AJIS.Common.Util.ConstantValue.ServiceType.C_SERVICE_TYPE_SALE)
    @Html.Hidden("C_TARGET_CODE_TYPE_QTN_CODE", SECOM_AJIS.Common.Util.ConstantValue.TargetCodeType.C_TARGET_CODE_TYPE_QTN_CODE)
    @Html.Hidden("C_TARGET_CODE_TYPE_CONTRACT_CODE", SECOM_AJIS.Common.Util.ConstantValue.TargetCodeType.C_TARGET_CODE_TYPE_CONTRACT_CODE)
    @Html.Hidden("C_CONTRACT_TRANS_STATUS_QTN_REG", SECOM_AJIS.Common.Util.ConstantValue.ContractTransferStatus.C_CONTRACT_TRANS_STATUS_QTN_REG)
    @Html.Hidden("ProcessType", (int)@ViewBag.ProcessType)
</div>
@Html.Partial("CTS020/_CTS020_01")
@Html.Partial("CTS020/_CTS020_02")
@Html.EmptyDIVforLoadData2("CTS020_03")
@Html.EmptyDIVforLoadData2("CTS020_04")
@Html.EmptyDIVforLoadData2("CTS020_05")
@Html.EmptyDIVforLoadData2("CTS020_06")
@Html.EmptyDIVforLoadData2("CTS020_07")
@Html.EmptyDIVforLoadData2("CTS020_08")
@Html.EmptyDIVforLoadData2("CTS020_09")
@Html.EmptyDIVforLoadData2("CTS020_10")
@Html.EmptyDIVforLoadData2("CTS020_11")
<div id="dlgBox" class="main-popup-dialog">
    <div class="popup-dialog"></div>
</div>