@using SECOM_AJIS.Common.Helpers
<div id="divCommandControl" style="float: right; padding-top: 10px;">
    @Html.CommonButton("btnCommandRequestApprove", @Resources._ButtonControl.btnCommandRequestApprove, new { style = "display:none;width:150px;" })
    @Html.CommonButton("btnCommandRegister", @Resources._ButtonControl.btnCommandRegister, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandImport", @Resources._ButtonControl.btnCommandImport, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandLastComplete", @Resources._ButtonControl.btnCommandLastComplete, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandCancelPcode", @Resources._ButtonControl.btnCommandCancelPcode, new { style = "display:none;width:120px;" })
    @Html.CommonButton("btnCommandConfirmCancel", @Resources._ButtonControl.btnCommandConfirmCancel, new { style = "display:none;width:120px;" })
    @Html.CommonButton("btnCommandApprove", @Resources._ButtonControl.btnCommandApprove, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandReject", @Resources._ButtonControl.btnCommandReject, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandConfirm", @Resources._ButtonControl.btnCommandConfirm, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandBack", @Resources._ButtonControl.btnCommandBack, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandClear", @Resources._ButtonControl.btnCommandClear, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandOK", @Resources._ButtonControl.btnCommandOK, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandReset", @Resources._ButtonControl.btnCommandReset, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandCancel", @Resources._ButtonControl.btnCommandCancel, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandPurge", @Resources._ButtonControl.btnCommandPurge, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandEdit", @Resources._ButtonControl.btnCommandEdit, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandReturn", @Resources._ButtonControl.btnCommandReturn, new { style = "display:none;width:100px;" })
    @Html.CommonButton("btnCommandClose", @Resources._ButtonControl.btnCommandClose, new { style = "display:none;width:100px;" })
    
</div>
