@using SECOM_AJIS.Common.Helpers

@{
    //ViewBag.Title = "CTS055";
    ViewBag.LabelWidth = "250px";
    ViewBag.RightLabelWidth = "220px";
    ViewBag.ObjectWidth = "160px";
    ViewBag.RightObjectWidth = "180px";     
    ViewBag.isViewMode = true;
    ViewBag.ContractTargetCustomerImportant = false;

    <script language="javascript" runat="server"> var ObjCTS055 = { ContractCode : " @ViewBag.ContractCodeLong " , OCC : " @ViewBag.OCCCode "  }</script>
    @*if (ViewBag.IsSystemSuspending)
    {
        <script language="javascript" runat="server">
            var obj = {
            module: "Common",
            code: "MSG0049"
            };
            call_ajax_method("/Shared/GetMessage", obj, function (result) {
                OpenErrorMessageDialog(result.Code, result.Message,
                function () {
                    window.location.href = generate_url("/common/CMS020");
                },
                null);
            });
        </script>
    }
    else
    {
        if (ViewBag.Permission == false)
        {
        <script language="javascript" runat="server">
            var obj = {
            module: "Common",
            code: "MSG0053"
            };
            call_ajax_method("/Shared/GetMessage", obj, function (result) {
                OpenErrorMessageDialog(result.Code, result.Message,
                function () {
                    window.location.href = generate_url("/common/CMS020");
                },
                null);
            });
        </script>
        }
        else
        {
            if (ViewBag.HasAuthorityContract == false)
            {
            <script language="javascript" runat="server">
                var obj = {
                module: "Common",
                code: "MSG0063"
                };
                call_ajax_method("/Shared/GetMessage", obj, function (result) {
                    OpenErrorMessageDialog(result.Code, result.Message,
                    function () {
                        window.location.href = generate_url("/common/CMS020");
                    },
                    null);
                });
            </script>
            }
            else
            {
                if (ViewBag.HasAuthorityOperation == false)
                {
                <script language="javascript" runat="server">
                    var obj = {
                    module: "Common",
                    code: "MSG0063"
                    };
                    call_ajax_method("/Shared/GetMessage", obj, function (result) {
                        OpenErrorMessageDialog(result.Code, result.Message,
                        function () {
                            window.location.href = generate_url("/common/CMS020");
                        },
                        null);
                    });
                </script>
                }
                else
                {
                    if (ViewBag.OCCCode == "" || ViewBag.OCCCode == null)
                    {
                        <script language="javascript" runat="server">
                        var obj = {
                        module: "Contract",
                        code: "MSG3056"
                        };
                        call_ajax_method("/Shared/GetMessage", obj, function (result) {
                            OpenErrorMessageDialog(result.Code, result.Message,
                            function () {
                                window.location.href = generate_url("/common/CMS020");
                            },
                            null);
                        });
                        </script>
                    }
                    else
                    {
                        if (ViewBag.STOPPING == true)
                        {
                            <script language="javascript" runat="server">
                            var obj = {
                            module: "Contract",
                            code: "MSG3044",
                            param: "@ViewBag.ContractCode"
                            };
                            call_ajax_method("/Shared/GetMessage", obj, function (result) {
                                OpenErrorMessageDialog(result.Code, result.Message,
                                function () {
                                   window.location.href = generate_url("/common/CMS020");
                                },
                                null);
                            });
                            </script>
                        }
                        else
                        {
                            if (ViewBag.SECURITYOCC == true)
                            {
                                <script language="javascript" runat="server">
                                var obj = {
                                module: "Contract",
                                code: "MSG3055"
                                };
                                call_ajax_method("/Shared/GetMessage", obj, function (result) {
                                    OpenErrorMessageDialog(result.Code, result.Message,
                                    function () {
                                        window.location.href = generate_url("/common/CMS020");
                                    },
                                    null);
                                });
                                </script>
                            }
                        }
                    }
                }
            }
        }
    }*@
}

<div id="ContractChange" class="main-table">   
     <div class="table-header">
        @Resources._ContractCancel.lblContractBasicInformation
    </div>  
    <div class="usr-row" style="height:20px">
        <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblContractCode
        </div>
        <div class="usr-object" style="width:100px">
                @Html.CommonTextBox("txtContractCode", (string)@ViewBag.ContractCode, new { style = "width:100px;", maxlength = "8", @readonly = true })
        </div>
        <div class="usr-label" style="width:200px">
                @Resources._ContractCancel.lblUserCode
        </div>
        <div class="usr-object" style="width:100px">
                @Html.CommonTextBox("txtUserCode", (string)@ViewBag.UserCode, new { style = "width:100px;", maxlength = "12", @readonly = true })
        </div>
    </div>
    <div class="usr-row usr-row-space-2x">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblCustomerCode
            </div>
            <div class="usr-object" style="width:100px">
                @Html.CommonTextBox("txtCustomerCode", (string)@ViewBag.CustomerCode, new { style = "width:100px;", maxlength = "11", @readonly = true })
            </div>
            <div class="usr-label" style="width:300px">
                @Resources._ContractCancel.lblCustomerCodeReal
            </div>
            <div class="usr-object">
                @Html.CommonTextBox("txtCustomerCodeReal", (string)@ViewBag.RealCustomerCode, new { style = "width:100px;", maxlength = "11", @readonly = true })
            </div>
            <div class="usr-label" style="width:110px">
                @Resources._ContractCancel.lblSiteCode
            </div> 
            <div class="usr-object">
                @Html.CommonTextBox("txtSiteCode", (string)@ViewBag.SiteCode, new { style = "width:130px;", maxlength = "16", @readonly = true })
            </div>                       
    </div>
    <div class="usr-row usr-row-space">      
            <div class="usr-label" style="width:@ViewBag.LabelWidth;"></div>         
            <div class="usr-object">
            @Html.CommonCheckButton("chkIsimportantCustomer", @Resources._ContractCancel.lblContractTargetImportantCustomer, "", (bool)@ViewBag.ImportantFlag, new { disabled = "disabled" })
            </div>
    </div>
   <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblContractTargetName
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtContractTargetName", (string)@ViewBag.CustFullNameEN, new { style = "width:755px;", maxlength = "200", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space-2x">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblContractTargetAddress
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtContractTargetAddress", (string)@ViewBag.AddressFullEN, new { style = "width:755px;", maxlength = "1600", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblSiteName
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtSiteName", (string)@ViewBag.SiteName, new { style = "width:755px;", maxlength = "200", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space-2x">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblSiteAddress
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtSiteAddress", (string)@ViewBag.SiteAddress, new { style = "width:755px;", maxlength = "1600", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblContractTargetNameLocal
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtCustFullNameLC", (string)@ViewBag.CustFullNameLC, new { style = "width:755px;", maxlength = "200", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space-2x">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblContractTargetAddressLocal
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtContractTargetAddressLocal", (string)@ViewBag.AddressFullLC, new { style = "width:755px;", maxlength = "200", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblSiteNameLocal
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtSiteNameLocal", (string)@ViewBag.SiteNameLC, new { style = "width:755px;", maxlength = "1600", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space-2x">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblSiteAddressLocal
            </div> 
            <div class="usr-object" style="width:655px;">
                @Html.CommonTextBox("txtSiteAddressLocal", (string)@ViewBag.SiteAddressLC, new { style = "width:755px;", maxlength = "1600", @readonly = true })
            </div>            
    </div>
    <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblInstallationStatus
            </div> 
            <div class="usr-object" style="width:550px">
                @Html.CommonTextBox("txtInstallationStatus", (string)@ViewBag.InstallationStatus, new { style="width:100%;",  maxlength = "10", @readonly = true })
            </div> 
            <div class="usr-object" style="padding-left: 10px;">
                @Html.CommonButton("btnViewInstalltionDetail", @Resources._ContractCancel.btnViewInstalltionDetail, new { style = "width:200px;", type = "button" })
            </div>
    </div>
    <div class="usr-row usr-row-space">
            <div class="usr-label" style="width:@ViewBag.LabelWidth;">
                @Resources._ContractCancel.lblOperationOffice
            </div> 
            <div class="usr-object">
                @Html.CommonTextBox("txtOperationOffice", (string)@ViewBag.OfficeName, new { style="width:140px;", maxlength = "50", @readonly = true })
            </div>            
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>
<div class="main-table" >
    <div class="table-header">
            <div class="usr-label">
                @Resources._ContractCancel.lblTitleChangeExpectOperationDate
            </div>                                  
    </div>
    <div class="usr-row">
        <div class="usr-label">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Resources._ContractCancel.lblSureCancel
        </div>                    
    </div>
    <div class="usr-clear-style">&nbsp;</div>
</div>

<div id="dlgCTS055" class="main-popup-dialog">
    <div class="popup-dialog"></div>
</div>