<div style="display:none">
    @Html.Hidden("DialogBtnOK", @Resources.CommonResources.btnOK)
    @Html.Hidden("DialogBtnCancel", @Resources.CommonResources.btnCancel)
    @Html.Hidden("DialogBtnYes", @Resources.CommonResources.btnYes)
    @Html.Hidden("DialogBtnNo", @Resources.CommonResources.btnNo)
    @Html.Hidden("DialogTitleError", @Resources.CommonResources.lblError)
</div>
<div id="msg_info_dialog" style="display:none;">
    <div class="msg-info-image"></div>
    <div class="msg-popup-dialog"></div>
</div>
<div id="msg_warning_dialog" style="display:none;">
    <div class="warning-popup-dialog" style="height:100%;"></div>
</div>
<div id="subContractMenu" style="display:none;">
    <div></div>
</div>