@using SECOM_AJIS.Presentation.Installation.Helpers;
@using SECOM_AJIS.Common.Helpers;
<!-- ======== Html content ======== --->
<div id="divCreditCardInformation" class="main-table" style="margin-top: 5px;">
    <div class="table-header">
            @Resources.BLS040.lblCreditCardInformation
    </div>

    <div class="usr-row">
        <div style="text-align: right; margin-top: -30px; margin-right: 10px;">
           @Html.CommonButton("btnCreditCardInfo", (string)@Resources.BLS040.btnRegisterEditCreditCardInfo, new { style = "width:200px;", type = "Button" })
            <div class="usr-clear-style" style="height:0px;">&nbsp;</div>
        </div>
    </div>

    <div class="usr-row">
        <div class="usr-label firstColWidth" >
            @Resources.BLS040.lblCreditCardType
        </div>
        <div class="usr-object" style="width:185px; ">
            @Html.CommonTextBox("CreditCardTypeName", null, new { style = "width:185px;", @readonly = true })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label firstColWidth" >
            @Resources.BLS040.lblCardHolderName
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth; ">
            @Html.CommonTextBox("CardName", null, new { style = "width:" + @ViewBag.ObjectColMergeWidth + ";", @readonly = true })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label firstColWidth" >
            @Resources.BLS040.lblCreditCardCompany
        </div>
        <div class="usr-object" style="width:@ViewBag.ObjectColMergeWidth; ">
            @Html.CommonTextBox("CreditCardCompanyName", null, new { style = "width:" + @ViewBag.ObjectColMergeWidth + ";", @readonly = true })
        </div>
    </div>
    <div class="usr-row">
        <div class="usr-label firstColWidth" >
            @Resources.BLS040.lblCreditCardNo
        </div>
        <div class="usr-object" style="width:185px;">
            @Html.CommonTextBox("CreditCardNoForView", null, new { style = "width:185px;", @readonly = true })
            @Html.Hidden("CreditCardNo")
        </div>
        <div class="usr-label" style="width:270px;">
            @Resources.BLS040.lblExpiredate
        </div>
        <div class="usr-object" style="width:25px;">
            @Html.CommonTextBox("ExpMonth", null, new { style = "width:25px;", @readonly = true })
        </div>
        <div class="usr-label" style="width:5px;">
            &nbsp;
        </div>
        <div class="usr-object" style="width:90px;">
            @Html.CommonTextBox("ExpYear", null, new { style = "width:95px;", @readonly = true })
        </div>
    </div>    

    <div id="dlgBLS031" class="main-popup-dialog">
        <div class="popup-dialog">
        </div>
    </div>
    <div id="dlgBLS032" class="main-popup-dialog">
        <div class="popup-dialog">
        </div>
    </div>
    @Html.Hidden("CreditCardType")
    @Html.Hidden("CreditCardCompanyCode")

    <div class="usr-clear-style" style="height:0px;">&nbsp;</div>
</div>
